Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

added comments
  src/app/loaders/express/__tests__/helmet.spec.ts
  src/app/loaders/express/helmet.ts
Due: eslint --fix

feat: add GST toggle to payment settings page
  frontend/src/features/admin-form/settings/SettingsService.ts
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/BusinessInfoSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/EnableGSTSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
  frontend/src/features/admin-form/settings/mutations.ts
  src/app/modules/form/admin-form/admin-form.middlewares.ts
Due: eslint --fix

updated comments
  src/app/loaders/express/__tests__/helmet.spec.ts
  src/app/loaders/express/helmet.ts
Due: eslint --fix

build(deps): bump winston-cloudwatch version to "6.2.0" (#6542)
  package-lock.json
  package.json
Due: none

fix: remove GST Reg No and Business Address descriptions
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/BusinessInfoSection.tsx
Due: none

fix: UI changes
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/GstToggleSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
Due: none

removed jest (unnecessary) from shared/package.json
  package-lock.json
  shared/package.json
Due: none

fix: set gst_enabled default in form model to true
  src/app/models/form.server.model.ts
Due: eslint --fix

chore: lower max payment amount cents to 200k
  src/app/config/features/payment.config.ts
Due: eslint --fix

fix: variable amounts to draw max payment amount from env
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/VariablePaymentAmountField.tsx
Due: none

nit: use name instead of hex code for color
  frontend/src/templates/Field/ChildrenCompound/ChildrenCompoundField.tsx
Due: none

wip
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/PaymentsInputPanel.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/PaymentsInputPanelV2.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductServiceBox.tsx
Due: none

fix: update test
  src/app/models/__tests__/form.server.model.spec.ts
Due: eslint --fix

fix: update db script
  scripts/20230718_set-gst-enabled-flag/set-gst-enabled-flag.js
Due: none

feat: redesigned settings page
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/MyInfoPanel.tsx
  frontend/src/features/admin-form/settings/SettingsAuthPage.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSection.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/constants.ts
Due: none

fix: updating csp to fix bypass (#6535)
  src/app/loaders/express/__tests__/helmet.spec.ts
  src/app/loaders/express/helmet.ts
Due: eslint --fix

chore: reduce max payment limit (#6543)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/VariablePaymentAmountField.tsx
  src/app/config/features/payment.config.ts
Due: eslint --fix

feat: indicate if GST has been applied to a payment transaction (#6538)
  frontend/src/features/admin-form/settings/SettingsService.ts
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/BusinessInfoSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/GstToggleSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
  frontend/src/features/admin-form/settings/mutations.ts
  scripts/20230718_set-gst-enabled-flag/set-gst-enabled-flag.js
  shared/types/form/form.ts
  shared/types/payment.ts
  src/app/models/__tests__/form.server.model.spec.ts
  src/app/models/form.server.model.ts
  src/app/models/payment.server.model.ts
  src/app/modules/form/admin-form/admin-form.middlewares.ts
  src/app/modules/form/admin-form/admin-form.payments.controller.ts
  src/app/modules/payments/__tests__/payments.controller.spec.ts
  src/app/modules/payments/__tests__/payments.service.spec.ts
  src/app/modules/payments/__tests__/stripe.controller.spec.ts
  src/app/modules/payments/__tests__/stripe.service.spec.ts
  src/app/modules/payments/stripe.service.ts
  src/app/modules/payments/stripe.utils.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.submissions.routes.spec.ts
Due: eslint --fix

fix(deps): [Snyk] Security upgrade mongoose from 5.13.15 to 5.13.20 (#6541)
  package-lock.json
  package.json
Due: none

chore: bump version to v6.66.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

debug: add logger for data creation
  src/app/modules/myinfo/myinfo.adapter.ts
Due: eslint --fix

feat: add tag, fix test
  __tests__/e2e/helpers/createForm.ts
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSection.tsx
Due: none

revert: build(deps): bump winston-cloudwatch version to 6.2.0 (#6542)
  package-lock.json
  package.json
Due: none

fix: remove unnecessary payment checks in handle update payment product
  src/app/modules/form/admin-form/admin-form.payments.controller.ts
Due: eslint --fix

build(deps): bump winston-cloudwatch to v6.2.0
  package-lock.json
  package.json
Due: none

build(deps): bump winston-cloudwatch to v6.2.0 (#6545)
  package-lock.json
  package.json
Due: none

fix: address frontend review
  frontend/src/features/admin-form/create/constants.ts
  frontend/src/templates/Field/ChildrenCompound/ChildrenCompoundField.tsx
Due: none

feat: use receipt instead of invoice when not gst-applicable
  src/app/modules/payments/stripe.service.ts
  src/app/modules/payments/stripe.utils.ts
Due: eslint --fix

fix: use proof of payment in thank you page
  frontend/src/features/admin-form/create/end-page/EndPageDrawer.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
Due: none

fix: rename convertToInvoiceFormat to convertToProofOfPaymentFormat
  src/app/modules/payments/__tests__/stripe.controller.spec.ts
  src/app/modules/payments/stripe.service.ts
  src/app/modules/payments/stripe.utils.ts
Due: eslint --fix

fix: use proof of payment in email
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

test: fix test
  src/app/modules/payments/__tests__/stripe.controller.spec.ts
Due: eslint --fix

fix: rename file as proofofpayment
  src/app/modules/payments/stripe.controller.ts
Due: eslint --fix

fix: backend tests
  src/app/modules/payments/__tests__/stripe.controller.spec.ts
Due: eslint --fix

ci: adjust timeouts for playwright pipe
  .github/workflows/playwright.yml
Due: none

fix: use proof-of-payment for payment receipt/invoice (#6549)
  frontend/src/features/admin-form/create/end-page/EndPageDrawer.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
  src/app/modules/payments/__tests__/stripe.controller.spec.ts
  src/app/modules/payments/stripe.controller.ts
  src/app/modules/payments/stripe.service.ts
  src/app/modules/payments/stripe.utils.ts
  src/app/views/templates/payment-confirmation.view.html
Due: eslint --fix, htmlhint, prettier --write

feat: initial integration
  frontend/src/app/AppRouter.tsx
  frontend/src/features/login/LoginPageSGID.tsx
  package-lock.json
  package.json
  src/app/modules/auth/sgid/auth-sgid.controller.ts
  src/app/modules/auth/sgid/auth-sgid.service.ts
  src/app/routes/api/v3/auth/auth-sgid.routes.ts
  src/app/routes/api/v3/auth/auth.routes.ts
Due: eslint --fix

feat: use actual user work email scope
  src/app/modules/auth/sgid/auth-sgid.controller.ts
  src/app/modules/auth/sgid/auth-sgid.service.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
