Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

feat: allows PR titles to start with "hotfix"
  .github/workflows/lint-pr.yml
Due: none

fix: add the code to error tag in datadog traces (#7499)
  src/app/modules/datadog/datadog.utils.ts
Due: eslint --fix

feat: allows PR titles to start with "hotfix" (#7518)
  .github/workflows/lint-pr.yml
Due: none

chore: bump version to v6.135.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

Remove non-English translation in fields/en-sg.ts file
  frontend/src/i18n/locales/features/admin-form/sidebar/fields/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/fields/index.ts
Due: none

Amend translation for fields/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/fields/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/fields/index.ts
Due: none

chore: add template env keys for MFB
  .template-env
Due: none

fix: enable pdf attachment for encrypt mode forms
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditEmail/EditEmail.tsx
  src/app/models/field/emailField.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
  src/types/vendor/express.d.ts
Due: eslint --fix

fix: pass responseLink to html template instead
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
  src/app/views/templates/submit-form-email.server.view.html
Due: eslint --fix, htmlhint, prettier --write

fix: move dd span tags to separate field
  src/app/modules/datadog/datadog.utils.ts
Due: eslint --fix

fix: remove unnecessary import
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
Due: eslint --fix

fix: fix wrong condition
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditEmail/EditEmail.tsx
Due: none

fix: remove unnecessary comment
  src/app/services/mail/mail.service.ts
Due: eslint --fix

fix: fix failing test case
  src/app/services/mail/mail.service.ts
Due: eslint --fix

fix: do not toggle off if payment enabled form
  src/app/models/field/emailField.ts
Due: eslint --fix

chore: remove banner on dashboard
  frontend/src/features/workspace/WorkspaceContent.tsx
Due: none

chore: remove banner on landing page
  frontend/src/pages/Landing/Home/LandingPage.tsx
Due: none

chore: remove old banner (#7525)
  frontend/src/features/workspace/WorkspaceContent.tsx
  frontend/src/pages/Landing/Home/LandingPage.tsx
Due: none

fix: move dd span tags to separate field (#7524)
  src/app/modules/datadog/datadog.utils.ts
Due: eslint --fix

exp add new fields
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/MyInfoPanel.tsx
  frontend/src/features/admin-form/create/builder-and-design/constants.ts
  frontend/src/features/admin-form/create/builder-and-design/utils/fieldCreation.ts
  frontend/src/features/admin-form/create/constants.ts
  shared/constants/field/myinfo/index.ts
  shared/types/field/base.ts
  src/app/modules/myinfo/myinfo.adapter.ts
Due: eslint --fix

remove submit button
  frontend/src/features/public-form/components/FormFields/FormFields.tsx
Due: none

fix: use type from lib for myinfo adaptor
  src/app/modules/myinfo/myinfo.adapter.ts
Due: eslint --fix

chore: verbose logging to inspect
  src/app/modules/myinfo/myinfo.adapter.ts
  src/app/modules/myinfo/myinfo.service.ts
Due: eslint --fix

chore: remove payment banner
  frontend/src/features/login/LoginPageTemplate.tsx
Due: none

chore(login): remove payment banner (#7529)
  frontend/src/features/login/LoginPageTemplate.tsx
Due: none

chore: bump version to v6.136.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix: remove includeFormSummary watch and remove useMemo
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditEmail/EditEmail.tsx
Due: none

docs: add comment for why isVisible is stripped out
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
Due: eslint --fix

chore(Frontend): remove isSingleSubmission toggle for email mode form that have not yet enabled it
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSingpassSection.tsx
Due: none

tests: add jest test for includeFormSummary toggle on mrf
  src/app/models/field/__tests__/emailField.spec.ts
Due: eslint --fix

chore: bump version to v6.137.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

tests: should not send pdf response if encrypt form with payment activated
  src/app/services/mail/__tests__/mail.service.spec.ts
Due: eslint --fix

fix: remove focused jest tests
  src/app/services/mail/__tests__/mail.service.spec.ts
Due: eslint --fix

fix: update mail service to check for active payment field
  src/app/services/mail/__tests__/mail.service.spec.ts
  src/app/services/mail/mail.service.ts
Due: eslint --fix

fix: update mail service to not render email if active payment field
  src/app/services/mail/__tests__/mail.service.spec.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
Due: eslint --fix

fix: remove unused var
  src/app/services/mail/__tests__/mail.service.spec.ts
Due: eslint --fix

fix: silence aws-sdk deprecation warnings
  .github/workflows/ci.yml
Due: none

chore: add minor changes to sample form submission api (#7442)
  src/app/modules/form/form.service.ts
Due: eslint --fix

chore: replace outdated esrv id link
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/EsrvcIdBox.tsx
Due: none

fix: remove memo from low cost component
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/EsrvcIdBox.tsx
Due: none
