Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

chore: rm unnecessary export
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
Due: eslint --fix

feat: mobile action selector for product item
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductServiceBox.tsx
Due: none

feat: html styling for new payment confirmation mail
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

feat: import amount paid to payment confirmation mailer
  src/app/modules/payments/payments.service.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
Due: eslint --fix

refactor: createPresignedPostDataPromise util
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
  src/app/utils/aws-s3.ts
Due: eslint --fix

feat: soften and fix storage submission validation (#6696)
  shared/constants/feature-flags.ts
  src/app/modules/form/admin-form/__tests__/admin-form.controller.spec.ts
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/submission/ParsedResponsesObject.class.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/encrypt-submission/IncomingEncryptSubmission.class.ts
  src/app/modules/submission/encrypt-submission/__tests__/IncomingEncryptSubmission.class.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.types.ts
  src/app/modules/submission/submission.service.ts
  src/app/modules/submission/submission.utils.ts
  src/types/api/encrypt_submission.ts
Due: eslint --fix

feat: use presigned post expiry env var
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
Due: eslint --fix

fix: typing for payment confirmation data
  src/app/services/mail/mail.types.ts
Due: eslint --fix

chore: bump version to v6.77.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

test: fix chromatic tests
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: path to utils
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
Due: eslint --fix

fix: styling and button link
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

test: fix mail service test for payment confirmation
  src/app/services/mail/__tests__/mail.service.spec.ts
Due: eslint --fix

refactor: abstracted out ProductItem from ProductServiceBox
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductItem.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductServiceBox.tsx
Due: none

fix: mobile view of unsaved modal
  frontend/src/templates/NavigationPrompt/UnsavedChangesModal.tsx
Due: none

feat: import inter font in html
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

ref: rename logging function for clarity
  src/app/modules/myinfo/myinfo.service.ts
  src/app/modules/myinfo/myinfo.util.ts
Due: eslint --fix

fix: actually use inter for font family
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

fix: public-read acl for images and logos
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/utils/aws-s3.ts
Due: eslint --fix

fix: import crypto properly
  src/app/utils/aws-s3.ts
Due: eslint --fix

feat: add logging to check for missing Myinfo field values (#6694)
  shared/constants/field/myinfo/index.ts
  shared/constants/field/myinfo/myinfo-countries.ts
  shared/constants/field/myinfo/myinfo-dialects.ts
  shared/constants/field/myinfo/myinfo-hdb-types.ts
  shared/constants/field/myinfo/myinfo-housing-types.ts
  shared/constants/field/myinfo/myinfo-nationalities.ts
  shared/constants/field/myinfo/myinfo-occupations.ts
  shared/constants/field/myinfo/myinfo-races.ts
  src/app/modules/myinfo/myinfo.service.ts
  src/app/modules/myinfo/myinfo.util.ts
Due: eslint --fix

fix: styling changes from design review
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

fix: minor UI fixes from design review 1
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductItem.tsx
Due: none

refactor: shared CreatePresignedPostError in utils
  src/app/modules/form/admin-form/admin-form.errors.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.service.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.errors.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.utils.ts
  src/app/utils/aws-s3.ts
Due: eslint --fix

refactor: expiry constant
  src/app/modules/submission/encrypt-submission/encrypt-submission.constants.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
Due: eslint --fix

fix: mobile view of unsaved modal (#6712)
  frontend/src/templates/NavigationPrompt/UnsavedChangesModal.tsx
Due: none

fix: design review on modal and product button props
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductItem.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
Due: none

refactor: use shared CreatePresignedPostError
  src/app/modules/form/admin-form/__tests__/admin-form.controller.spec.ts
  src/app/modules/form/admin-form/__tests__/admin-form.service.spec.ts
  src/app/modules/form/admin-form/admin-form.errors.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/form/admin-form/admin-form.utils.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.controller.spec.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.service.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.utils.ts
Due: eslint --fix

fix: mailers css from design review 2
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

fix: margins around divider
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
Due: none

refactor: abstract out tablerows in ProductItem
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductItem.tsx
Due: none

fix: use the internal component close button
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
  frontend/src/features/public-form/components/DuplicatePaymentModal/DuplicatePaymentModal.tsx
  frontend/src/features/public-form/components/FormPaymentModal/FormPaymentModal.tsx
  frontend/src/features/public-form/components/FormPaymentPage/FormPaymentResumeModal.tsx
  frontend/src/features/rollout-announcement/RolloutAnnouncementModal.tsx
  frontend/src/templates/NavigationPrompt/UnsavedChangesModal.tsx
Due: none

fix: show modal close even in mobile
  frontend/src/features/public-form/components/DuplicatePaymentModal/DuplicatePaymentModal.tsx
  frontend/src/features/public-form/components/FormPaymentModal/FormPaymentModal.tsx
Due: none

fix: modal close button in resume modal
  frontend/src/features/public-form/components/FormPaymentPage/FormPaymentResumeModal.tsx
Due: none

fix: script to enable bucket versioning
  init-localstack.sh
Due: none

feat: improve payment confirmation mailers (#6704)
  src/app/modules/payments/payments.service.ts
  src/app/services/mail/__tests__/mail.service.spec.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
  src/app/views/templates/payment-confirmation.view.html
Due: eslint --fix, htmlhint, prettier --write

fix: admin payment builder design (#6699)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductItem.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductServiceBox.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/VariablePaymentItemDetailsBlock.tsx
Due: none

fix: prevent clipping of resume payment title
  frontend/src/features/public-form/components/FormPaymentPage/FormPaymentResumeModal.tsx
Due: none

chore: enable versioning for clean bucket
  init-localstack.sh
  serverless/virus-scanner/src/index.ts
  serverless/virus-scanner/src/s3.service.ts
Due: none
