Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

fix: strip whitespace for logic conditions on frontend (#5796)
  frontend/src/features/logic/utils/isConditionFulfilled.ts
  frontend/src/features/logic/utils/typeguards.ts
Due: none

fix: myinfo test by valid and invalid token
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

fix: add tests for verified field OTP for CorpPass
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

fix: add tests for creating verified field OTP with SP
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

feat: add tests for verified field otp for sgid
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

fix: add tests for verified field otp for MyInfo
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

fix: remove unused myinfo mocks
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

fix: clean up code
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: meta tags for public form pages (#5799)
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

feat: add prefix to otp
  frontend/src/components/Input/Input.tsx
  frontend/src/features/login/LoginPage.tsx
  frontend/src/features/login/components/OtpForm.tsx
  frontend/src/services/AuthService.ts
  shared/types/user.ts
  src/app/modules/auth/auth.controller.ts
  src/app/modules/auth/auth.service.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.utils.ts
  src/app/utils/otp.ts
  src/app/views/templates/otp-email.server.view.html
Due: eslint --fix, htmlhint, prettier --write

test: fix backend tests to include otp prefix
  src/app/modules/auth/__tests__/auth.controller.spec.ts
  src/app/modules/auth/__tests__/auth.routes.spec.ts
  src/app/modules/auth/__tests__/auth.service.spec.ts
  src/app/routes/api/v3/auth/__tests__/auth.routes.spec.ts
  src/app/services/mail/__tests__/mail.service.spec.ts
  tests/integration/helpers/express-auth.ts
Due: eslint --fix

fix(deps): [Snyk] upgrade twilio from 3.84.0 to 4.0.0 (#5720)
  package-lock.json
  package.json
  shared/package-lock.json
  src/app/services/sms/sms.types.ts
Due: eslint --fix

chore: update package-locks
  package-lock.json
  shared/package-lock.json
Due: none

chore: remove merge conflict marker in .npmrc
  .npmrc
Due: none

chore: remove merge conflict markers in docker-compose
  docker-compose.yml
Due: none

fix: broken tests due to change in error msg
  src/app/modules/auth/__tests__/auth.controller.spec.ts
  src/app/modules/auth/__tests__/auth.routes.spec.ts
  src/app/routes/api/v3/auth/__tests__/auth.routes.spec.ts
Due: eslint --fix

chore: remove SES config from docker-compose
  docker-compose.yml
Due: none

tests: fix broken tests
  src/app/models/__tests__/form.server.model.spec.ts
Due: eslint --fix

feat: add script to add payment betaflag by email
  scripts/20232202_add-payments-flag/add-payment-flag.js
Due: none

feat: update user schema with payment betaflag
  shared/types/user.ts
  src/app/models/user.server.model.ts
Due: eslint --fix

feat: remove rendering of payment settings and sidebar for non payment beta users
  frontend/src/features/admin-form/create/common/CreatePageSidebar/CreatePageSidebar.tsx
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

feat: add utility function to verify if user has selected betaflag
  src/app/modules/form/admin-form/admin-form.utils.ts
Due: eslint --fix

feat: prevent user from accessing payment and stripe apis if beta flag is not enabled
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/form/admin-form/admin-form.payments.controller.ts
Due: eslint --fix

feat: add payment status
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
Due: none

chore: bump version to v6.32.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

feat: popup modal to confirm payment
  frontend/src/features/public-form/components/FormFields/PublicFormSubmitButton.tsx
  frontend/src/features/public-form/components/FormPaymentModal/FormPaymentModal.tsx
Due: none

feat: popup modal to confirm payment (#5829)
  frontend/src/features/public-form/components/FormFields/PublicFormSubmitButton.tsx
  frontend/src/features/public-form/components/FormPaymentModal/FormPaymentModal.tsx
Due: none

fix: typo bug in payments flag in user.server.model
  src/app/models/user.server.model.ts
Due: eslint --fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

[Snyk] Security upgrade @aws-sdk/client-cloudwatch-logs from 3.241.0 to 3.276.0 (#5835)
  package-lock.json
  package.json
Due: none

feat: use dollars for payment amount
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
Due: none

feat: add created property to payments
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  shared/types/payment.ts
Due: none

fix: correct step counter for auth controller
  src/app/modules/auth/auth.controller.ts
Due: eslint --fix

fix: only show prefix for input if defined
  frontend/src/features/login/components/OtpForm.tsx
Due: none

fix: remove payment account id from payment drawer tab
  frontend/src/features/admin-form/create/payment/PaymentDrawer.tsx
Due: none

fix: omit target account id in payments update
  shared/types/form/form.ts
Due: none

feat: download receipt endpoint which returns pdf
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/components/FormPaymentRedirectPage/components/DownloadReceiptBlock.tsx
  src/app/modules/payments/stripe.controller.ts
  src/app/routes/api/v3/payments/payments.routes.ts
  src/app/services/mail/mail.utils.ts
  src/app/utils/convert-html-to-pdf.ts
Due: eslint --fix

chore: use mutation for download
  frontend/src/features/public-form/components/FormPaymentRedirectPage/components/DownloadReceiptBlock.tsx
  frontend/src/features/public-form/mutations.ts
Due: none

feat: set up receipt status endpoint
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/components/FormPaymentRedirectPage/FormPaymentRedirectPage.tsx
  frontend/src/features/public-form/components/FormPaymentRedirectPage/components/DownloadReceiptBlock.tsx
  frontend/src/features/public-form/queries.ts
  shared/types/payment.ts
  src/app/modules/payments/stripe.controller.ts
  src/app/routes/api/v3/payments/payments.routes.ts
Due: eslint --fix

feat: add prefix to OTPs (#5828)
  frontend/src/components/Input/Input.tsx
  frontend/src/features/login/LoginPage.tsx
  frontend/src/features/login/components/OtpForm.tsx
  frontend/src/services/AuthService.ts
  shared/types/user.ts
  src/app/modules/auth/__tests__/auth.controller.spec.ts
  src/app/modules/auth/__tests__/auth.routes.spec.ts
  src/app/modules/auth/__tests__/auth.service.spec.ts
  src/app/modules/auth/auth.controller.ts
  src/app/modules/auth/auth.service.ts
  src/app/routes/api/v3/auth/__tests__/auth.routes.spec.ts
  src/app/services/mail/__tests__/mail.service.spec.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.utils.ts
  src/app/utils/otp.ts
  src/app/views/templates/otp-email.server.view.html
  tests/integration/helpers/express-auth.ts
Due: eslint --fix, htmlhint, prettier --write

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
