Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

chore: remove unused props
  frontend/src/components/Searchbar/Searchbar.stories.tsx
Due: none

chore: manually upgrade webpack
  serverless/virus-scanner/package-lock.json
Due: none

test(story): add chromatic story to ensure thankyou page renders
  frontend/src/features/public-form/PublicFormPage.stories.tsx
  frontend/src/mocks/msw/handlers/public-form.ts
Due: none

fix: TC comments and naming
  src/app/modules/submission/multirespondent-submission/__tests__/multirespondent-submission.service.spec.ts
Due: eslint --fix

feat: no notify for steps after reject step (#7771)
  src/app/modules/submission/multirespondent-submission/__tests__/multirespondent-submission.service.spec.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
Due: eslint --fix

chore: manually upgrade webpack (#7780)
  serverless/virus-scanner/package-lock.json
Due: none

chore: upgrade ts-eslint to v8 (#7759)
  frontend/.eslintrc.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Calendar/CalendarBase/CalendarPanel.tsx
  frontend/src/components/DatePicker/components/DatePickerInput.tsx
  frontend/src/components/DatePicker/components/DatePickerWrapper.tsx
  frontend/src/components/DateRangePicker/components/DateRangePickerInput.tsx
  frontend/src/components/DateRangePicker/components/DateRangePickerWrapper.tsx
  frontend/src/components/Searchbar/Searchbar.stories.tsx
  frontend/src/features/admin-form/settings/SettingsPage.tsx
  frontend/src/mocks/msw/handlers/admin-form/form.ts
  frontend/src/typings/react-table-config.d.ts
  frontend/src/utils/__tests__/datadog.tests.ts
  frontend/src/utils/date.ts
  package-lock.json
  package.json
  shared/package-lock.json
  shared/package.json
  src/app/loaders/express/index.ts
  src/app/modules/spcp/__tests__/spcp.oidc.client.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/submission.service.ts
  src/app/utils/encryption.ts
  src/types/agency.ts
  src/types/field/index.ts
Due: eslint --fix

fix: set form fields to use formfielddto type
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.middleware.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
  src/app/utils/field-validation/answerValidator.factory.ts
  src/app/utils/field-validation/index.ts
  src/app/utils/field-validation/validators/tableValidator.ts
  src/types/field/index.ts
Due: eslint --fix

fix: remove unused import
  src/app/utils/field-validation/index.ts
Due: eslint --fix

fix: set form fields to use formfielddto type (#7783)
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.middleware.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
  src/app/utils/field-validation/answerValidator.factory.ts
  src/app/utils/field-validation/index.ts
  src/app/utils/field-validation/validators/tableValidator.ts
  src/types/field/index.ts
Due: eslint --fix

feat: add email summary responses
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
  src/app/services/mail/mail.service.ts
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/styles.ts
Due: eslint --fix

feat: add TC for util function and move to util
  src/app/modules/submission/multirespondent-submission/__tests__/multirespondent-submission.utils.spec.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
Due: eslint --fix

feat: port approval status to mrf completion email
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
  src/app/services/mail/mail.service.ts
  src/app/views/templates/MrfApprovalOutcomeEmail.tsx
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/styles.ts
Due: eslint --fix

feat: fix padding of email
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/styles.ts
Due: eslint --fix

feat: update email styling
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/styles.ts
Due: eslint --fix

fix: change padding to px instead of rem for gsib
  src/app/views/templates/styles.ts
Due: eslint --fix

fix: update the form field type for v3 test cases
  __tests__/unit/backend/helpers/generate-form-data.ts
  src/app/utils/field-validation/validators/__tests__/attachment-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/checkbox-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/country-region-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/date-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/decimal-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/dropdown-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/email-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/home-num-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/mobile-num-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/nric-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/number-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/radio-button-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/rating-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/table-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/text-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/uen-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/yesno-validation.spec.ts
Due: eslint --fix

feat: add storybook integration
  react-email-preview/package-lock.json
  react-email-preview/package.json
  react-email-preview/tsconfig.json
Due: none

build: publish to chromatic
  .github/workflows/chromatic.yml
Due: none

chore: add email preview to chromatic
  .github/workflows/chromatic.yml
  react-email-preview/.storybook/main.ts
  react-email-preview/emails/MrfWorkflowEmail.stories.tsx
  react-email-preview/emails/MrfWorkflowEmail.tsx
  react-email-preview/package-lock.json
  react-email-preview/package.json
Due: none

chore: remove unused import
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
Due: eslint --fix

feat: update content and migrate to tsx
  src/app/services/mail/mail.service.ts
  src/app/views/templates/BounceNotificationTransient.tsx
  src/app/views/templates/bounce-notification-transient.server.view.html
Due: eslint --fix, htmlhint, prettier --write

feat: add to storybook
  react-email-preview/emails/BounceNotificationTransient.stories.tsx
  react-email-preview/emails/BounceNotificationTransient.tsx
Due: none

feat: change to absolute px to support GSIB
  src/app/views/templates/styles.ts
Due: eslint --fix

feat: reduce code duplications
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/styles.ts
Due: eslint --fix

fix: add missing full stop
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
Due: none

fix: remove unneeded cast
  src/app/utils/field-validation/validators/__tests__/attachment-validation.spec.ts
Due: eslint --fix

chore: split styles into commons and specific style ts
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/commonStyles.ts
  src/app/views/templates/mrfWorkflowCompletionEmailStyle.ts
  src/app/views/templates/styles.ts
Due: eslint --fix

fix: remove unused import
  src/app/utils/field-validation/validators/__tests__/attachment-validation.spec.ts
Due: eslint --fix

feat: email response summary (#7781)
  src/app/modules/submission/multirespondent-submission/__tests__/multirespondent-submission.utils.spec.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
  src/app/services/mail/mail.service.ts
  src/app/views/templates/MrfApprovalOutcomeEmail.tsx
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/commonStyles.ts
  src/app/views/templates/mrfWorkflowCompletionEmailStyle.ts
Due: eslint --fix

fix: update the form field type for v3 test cases (#7787)
  __tests__/unit/backend/helpers/generate-form-data.ts
  src/app/utils/field-validation/validators/__tests__/attachment-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/checkbox-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/country-region-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/date-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/decimal-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/dropdown-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/email-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/home-num-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/mobile-num-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/nric-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/number-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/radio-button-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/rating-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/table-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/text-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/uen-validation.spec.ts
  src/app/utils/field-validation/validators/__tests__/yesno-validation.spec.ts
Due: eslint --fix

test(emailpreview): chromatic support (#7786)
  .github/workflows/chromatic.yml
  react-email-preview/.storybook/main.ts
  react-email-preview/emails/MrfWorkflowEmail.stories.tsx
  react-email-preview/emails/MrfWorkflowEmail.tsx
  react-email-preview/package-lock.json
  react-email-preview/package.json
  react-email-preview/tsconfig.json
Due: none

feat: add onblur to single select component
  frontend/src/components/Dropdown/SelectContext.tsx
  frontend/src/components/Dropdown/SingleSelect/SingleSelectProvider.tsx
  frontend/src/components/Dropdown/components/SelectCombobox/SelectCombobox.tsx
Due: none

feat: add single select to email notifications page
  frontend/src/features/admin-form/settings/SettingsService.ts
  frontend/src/features/admin-form/settings/components/MrfFormEmailSection.tsx
  shared/constants/form.ts
  shared/types/form/form.ts
  src/app/models/form.server.model.ts
  src/app/modules/form/admin-form/admin-form.middlewares.ts
  src/types/form.ts
Due: eslint --fix

feat: add separate notify for step 1 in mrf send outcome email logic
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
Due: eslint --fix

feat: remove email field in step 1 of workflow builder
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/InactiveStepBlock/InactiveStepBlock.tsx
  frontend/src/features/admin-form/settings/components/MrfFormEmailSection.tsx
Due: none

chore: bump version to v6.153.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore: fix typo on runner tag
  .github/workflows/chromatic.yml
Due: none

chore: fix typo on runner tag (#7799)
  .github/workflows/chromatic.yml
Due: none
