Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

deps: install jose and jwk-to-pem
  package-lock.json
  package.json
Due: none

deps: install jsonfile
  package-lock.json
  package.json
Due: none

feat: sp oidc
  src/app/loaders/express/index.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/spcp/sp.oidc.client.errors.ts
  src/app/modules/spcp/sp.oidc.client.ts
  src/app/modules/spcp/sp.oidc.client.types.ts
  src/app/modules/spcp/spcp.controller.ts
  src/app/modules/spcp/spcp.errors.ts
  src/app/modules/spcp/spcp.middlewares.ts
  src/app/modules/spcp/spcp.routes.ts
  src/app/modules/spcp/spcp.service.ts
  src/app/modules/spcp/spcp.types.ts
  src/app/modules/spcp/spcp.util.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/routes/api/v3/singpass/index.ts
  src/app/routes/api/v3/singpass/singpass.routes.ts
  src/app/routes/api/v3/v3.routes.ts
Due: eslint --fix

deps: install openid-client
  package-lock.json
  package.json
Due: none

chore: fix existing tests, update test env vars
  src/app/modules/form/public-form/__tests__/public-form.controller.spec.ts
  src/app/modules/form/public-form/__tests__/public-form.routes.spec.ts
  src/app/modules/spcp/__tests__/spcp.controller.spec.ts
  src/app/modules/spcp/__tests__/spcp.routes.spec.ts
  src/app/modules/spcp/__tests__/spcp.test.constants.ts
  src/app/modules/spcp/sp.oidc.client.ts
  src/app/modules/submission/email-submission/__tests__/email-submission.routes.spec.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.form.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.auth.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.form.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.routes.spec.ts
  tests/.test-env
Due: eslint --fix

chore: shift /singpass/login endpoint to /api/v3
  src/app/modules/spcp/spcp.routes.ts
  src/app/routes/api/v3/singpass/singpass.routes.ts
Due: eslint --fix

chore: set up env vars and paths
  .template-env
  docker-compose.yml
  docs/DEPLOYMENT_SETUP.md
  src/app/config/features/spcp-myinfo.config.ts
  tests/certs/test_public_jwks.json
  tests/certs/test_secret_jwks.json
Due: eslint --fix

chore: remove frontend eservice id check for singpass
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/spcp/spcp.controller.ts
  src/app/routes/api/v3/forms/public-forms.auth.routes.ts
  src/public/modules/forms/admin/controllers/activate-form-modal.client.controller.js
  src/public/modules/forms/admin/views/activate-form.client.modal.html
  src/public/services/PublicFormAuthService.ts
  src/public/services/__tests__/PublicFormAuthService.test.ts
Due: eslint --fix, htmlhint, prettier --write

chore: disable sp e2e test
  tests/end-to-end/email-submission.e2e.js
  tests/end-to-end/encrypt-submission.e2e.js
  tests/end-to-end/helpers/util.js
Due: eslint --fix

feat: retries ndi endpoints
  src/app/modules/spcp/sp.oidc.client.ts
Due: eslint --fix

deps: uninstall jsonfile
  package-lock.json
  package.json
Due: none

feat: sp oidc client to refresh cache on key error, improve docs
  src/app/modules/spcp/sp.oidc.client.errors.ts
  src/app/modules/spcp/sp.oidc.client.ts
  src/app/modules/spcp/sp.oidc.client.types.ts
Due: eslint --fix

chore: wip tests for sp.oidc.client
  src/app/modules/spcp/__tests__/sp.oidc.client.spec.ts
Due: eslint --fix

dev: enable eb deploy for staging-alt2 branch (#4012)
  .github/workflows/deploy-eb.yml
Due: none

fix: add ViewedRolloutDecorator to prevent rollout modal showing
  frontend/src/components/Tag/Tag.stories.tsx
  frontend/src/features/workspace/WorkspacePage.stories.tsx
  frontend/src/utils/storybook.tsx
Due: none

feat: add new user endpoint to update user last seen feature update date attribute (#3997)
  src/app/modules/user/__tests__/user.controller.spec.ts
  src/app/modules/user/__tests__/user.service.spec.ts
  src/app/modules/user/user.constant.ts
  src/app/modules/user/user.controller.ts
  src/app/modules/user/user.middleware.ts
  src/app/modules/user/user.service.ts
  src/app/routes/api/v3/user/__tests__/user.routes.spec.ts
  src/app/routes/api/v3/user/user.routes.ts
Due: eslint --fix

changed wrapped quotes to prepended single quote
  src/app/modules/submission/email-submission/__tests__/email-submission.util.spec.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/public/modules/forms/helpers/CsvMergedHeadersGenerator.ts
  src/public/modules/forms/helpers/FeedbackCsvGenerator.ts
  src/public/modules/forms/helpers/__tests__/FeedbackCsvGenerator.spec.ts
  tests/end-to-end/helpers/email-mode.js
  tests/end-to-end/helpers/encrypt-mode.js
  tests/end-to-end/helpers/util.js
  tests/unit/backend/helpers/generate-form-data.ts
  tests/unit/frontend/forms/helpers/CsvMergedHeadersGenerator.test.js
Due: eslint --fix

ref: simplify global decorators used with MainDecorator component
  frontend/.storybook/preview.tsx
  frontend/.storybook/utils/MainDecorator.tsx
Due: none

fix: remove delay for form builder msw mocks
  frontend/src/mocks/msw/handlers/admin-form/form.ts
Due: none

feat: add aria-label to progress indicator
  frontend/src/components/ProgressIndicator/ProgressIndicator.tsx
Due: none

chore: reconfigure client retries
  src/app/modules/spcp/sp.oidc.client.ts
Due: eslint --fix

feat: show question numbers in form builder
  frontend/src/components/FormControl/FormLabel/FormLabel.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FieldRow/FieldRowContainer.tsx
  frontend/src/features/admin-form/create/builder-and-design/utils/questionNumbers.ts
  frontend/src/templates/Field/Uen/UenField.stories.tsx
  frontend/src/templates/Field/Uen/UenField.tsx
Due: none

chore: add tests for SpOidcClientCache class
  src/app/modules/spcp/__tests__/sp.oidc.client.spec.ts
  src/app/modules/spcp/__tests__/spcp.test.constants.ts
  tests/.test-env
  tests/certs/test_ndi_public_jwks.json
  tests/certs/test_ndi_secret_jwks.json
  tests/certs/test_rp_public_jwks.json
  tests/certs/test_rp_secret_jwks.json
Due: eslint --fix

feat: add hover and focus styles to progress indicator
  frontend/src/components/ProgressIndicator/ProgressIndicator.tsx
Due: none

refactor: exchange import names for consistency
  frontend/tsconfig.json
Due: none

Revert "ref: simplify global decorators used with MainDecorator component"
  frontend/.storybook/preview.tsx
  frontend/.storybook/utils/MainDecorator.tsx
Due: none

refactor: change BuilderFields to make use of util field augmentor function
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/BuilderFields.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FieldRow/FieldRowContainer.tsx
  frontend/src/features/admin-form/create/builder-and-design/utils/questionNumbers.ts
  frontend/src/features/form/utils/augmentWithQuestionNo.ts
Due: none

fix: use ApiService in AdminFormPageService instead of axios
  frontend/src/features/admin-form/common/AdminFormPageService.ts
Due: none

fix: update endpage in mutateFormPage instead of collaborators
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/common/queries.ts
Due: none

fix: use mobile and tablet view parameters function in storybook
  frontend/src/features/admin-form/settings/SettingsEndPage.stories.tsx
Due: none

fix: add required validation for EndPageSettingsInput
  frontend/src/features/admin-form/settings/SettingsEndPage.tsx
  frontend/src/features/admin-form/settings/components/EndPageSettingsSection/EndPageSettingsInput.tsx
Due: none

fix(mocks/form): revert change to mock form field and add new mock with myinfo
  frontend/src/features/admin-form/AdminFormCreatePage.stories.tsx
  frontend/src/mocks/msw/handlers/admin-form/form.ts
Due: none

feat(fieldlistdrawer): add component showing myinfo messages
  frontend/src/features/admin-form/AdminFormCreatePage.stories.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/FieldListDrawer.tsx
Due: none

refactor(fieldlistdrawer): add usememo and conditionally return null
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/FieldListDrawer.tsx
Due: none

chore(myinfo link): add href to form guide
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/FieldListDrawer.tsx
Due: none

feat: use save button for EndPageSettingsInput instead of onblur
  frontend/src/features/admin-form/settings/components/EndPageSettingsSection/EndPageSettingsInput.tsx
Due: none

fix: use string templating and css variables in ProgressIdnicator
  frontend/src/components/ProgressIndicator/ProgressIndicator.tsx
Due: none

deps: install p-state and ulid
  package-lock.json
  package.json
Due: none

chore: add comment on which signing keys to use
  src/app/modules/spcp/sp.oidc.client.ts
Due: eslint --fix

chore: extract constants, destructure config, correct error msg
  src/app/modules/spcp/sp.oidc.client.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
