Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

feat: add backend validation for form feedback submission (#3941)
  shared/types/form/form_feedback.ts
  src/app/models/form_feedback.server.model.ts
  src/app/modules/feedback/__tests__/feedback.service.spec.ts
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/feedback/feedback.errors.ts
  src/app/modules/feedback/feedback.service.ts
  src/app/modules/feedback/feedback.util.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/form/public-form/public-form.service.ts
  src/app/modules/submission/__tests__/submission/submission.service.spec.ts
  src/app/modules/submission/submission.service.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
  src/app/routes/api/v3/forms/public-forms.feedback.routes.ts
  src/public/modules/forms/base/components/feedback-form.client.component.js
  src/public/modules/forms/base/directiveViews/submit-form.directive.view.html
  src/public/services/FormFeedbackService.ts
  src/public/services/__tests__/FormFeedbackService.spec.ts
  tests/unit/backend/helpers/jest-db.ts
Due: eslint --fix, htmlhint, prettier --write

refactor: refactor as per comments
  frontend/src/features/whats-new/FeatureUpdateList.ts
  frontend/src/features/whats-new/utils/utils.ts
  frontend/src/features/workspace/WorkspacePage.tsx
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceHeader.tsx
Due: none

fix: specify sgid scopes and null nonce
  src/app/modules/sgid/sgid.service.ts
Due: eslint --fix

Squashed commit of the following:
  src/public/main.css
  src/public/main.js
  src/public/modules/core/componentViews/toolset-dropdown.html
  src/public/modules/core/components/toolset-dropdown.client.component.js
  src/public/modules/core/css/navbar.css
  src/public/modules/core/css/toolset-dropdown.css
  src/public/modules/core/views/landing.client.view.html
  src/public/translations/en-SG/landing.json
  src/public/translations/en-SG/main.json
Due: eslint --fix, htmlhint, prettier --write

fix: fix package-lock.json merge conflict
  package-lock.json
Due: none

fix: update sgid tests
  src/app/modules/sgid/__tests__/sgid.service.spec.ts
  src/app/modules/sgid/sgid.service.ts
Due: eslint --fix

perf(v2): virtualize Select and MultiSelect components to reduce sluggish loads and filters (#4064)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Dropdown/MultiSelect/MultiSelect.stories.tsx
  frontend/src/components/Dropdown/MultiSelect/MultiSelectProvider.tsx
  frontend/src/components/Dropdown/SelectContext.tsx
  frontend/src/components/Dropdown/SingleSelect/SingleSelectProvider.tsx
  frontend/src/components/Dropdown/components/MultiSelectMenu.tsx
  frontend/src/components/Dropdown/components/SelectMenu.tsx
  frontend/src/components/Dropdown/constants.ts
  frontend/src/templates/Field/Dropdown/DropdownField.stories.tsx
  frontend/src/theme/components/SingleSelect.ts
Due: none

feat: add title to collaborator row text
  frontend/src/features/admin-form/common/components/CollaboratorModal/CollaboratorListScreen/CollaboratorRow.tsx
Due: none

feat(form-v2): preview form as admin user (#4045)
  frontend/src/app/AppRouter.tsx
  frontend/src/assets/icons/BxsEditAlt.tsx
  frontend/src/assets/icons/index.ts
  frontend/src/constants/routes.ts
  frontend/src/features/admin-form/common/AdminViewFormService.ts
  frontend/src/features/admin-form/common/components/AdminFormNavbar/AdminFormNavbarContainer.tsx
  frontend/src/features/admin-form/common/components/PreviewFormHeader/PreviewFormHeader.stories.tsx
  frontend/src/features/admin-form/common/components/PreviewFormHeader/PreviewFormHeader.tsx
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/common/queries.ts
  frontend/src/features/admin-form/preview/PreviewFormPage.stories.tsx
  frontend/src/features/admin-form/preview/PreviewFormPage.tsx
  frontend/src/features/admin-form/preview/PreviewFormProvider.tsx
  frontend/src/features/admin-form/preview/index.ts
  frontend/src/features/public-form/PublicFormContext.tsx
  frontend/src/features/public-form/components/FormEndPage/FormEndPageContainer.tsx
  frontend/src/features/public-form/components/FormEndPage/components/FeedbackBlock.tsx
  frontend/src/features/workspace/components/WorkspaceFormRow/RowActions/useRowActionDropdown.ts
  frontend/src/mocks/msw/handlers/admin-form/preview-form.ts
  frontend/src/mocks/msw/handlers/public-form.ts
Due: none

refactor: refactor as per comments
  frontend/src/features/whats-new/FeatureUpdateList.ts
  frontend/src/features/whats-new/WhatsNewContent.stories.tsx
  frontend/src/features/whats-new/WhatsNewContent.tsx
  frontend/src/features/whats-new/WhatsNewDrawer.tsx
  frontend/src/features/whats-new/utils/utils.ts
Due: none

fix(v2): fix overflow in workspace row (#4069)
  frontend/src/components/Dropdown/components/SelectCombobox/SelectCombobox.tsx
  frontend/src/features/admin-form/common/components/CollaboratorModal/CollaboratorListScreen/CollaboratorRow.tsx
  frontend/src/features/admin-form/create/logic/components/LogicContent/InactiveLogicBlock/FieldLogicBadge.tsx
  frontend/src/features/workspace/WorkspacePage.stories.tsx
  frontend/src/features/workspace/components/WorkspaceFormRow/WorkspaceFormRow.tsx
Due: none

fix: update sgid client to v1.0.3 (again) (#4090)
  package-lock.json
  package.json
  src/app/config/features/sgid.config.ts
  src/app/modules/sgid/__tests__/sgid.service.spec.ts
  src/app/modules/sgid/sgid.service.ts
  src/types/config.ts
Due: eslint --fix

feat: add swipe gestures for rollout announcement mobile view (#4061)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/rollout-announcement/RolloutAnnouncementModal.tsx
Due: none

feat: add mobile sectionsidebar
  frontend/src/features/public-form/PublicFormContext.tsx
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/components/FormFields/SectionSidebar.tsx
  frontend/src/features/public-form/components/FormFields/SidebarLink.tsx
  frontend/src/features/public-form/components/FormStartPage/FormHeader.tsx
Due: none

feat: update start page stories
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.stories.tsx
Due: none

fix: adjusted based on new Figma designs
  frontend/src/features/user/billing/BillCharges/BillCharges.tsx
  frontend/src/features/user/billing/BillCharges/components/BillingNoChargesContent.tsx
  frontend/src/features/user/billing/BillCharges/components/BillingTableSkeleton.tsx
  frontend/src/features/user/billing/BillCharges/components/NoChargesSvg.tsx
  frontend/src/features/user/billing/BillingForm/BillingForm.tsx
Due: none

feat: add section sidebar to preview
  frontend/src/features/admin-form/preview/PreviewFormProvider.tsx
  frontend/src/features/public-form/PublicFormContext.tsx
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/components/FormFields/SidebarLink.tsx
  frontend/src/features/public-form/components/FormStartPage/FormHeader.tsx
Due: none

fix: remove unused param
  frontend/src/features/public-form/PublicFormProvider.tsx
Due: none

fix: use sp oidc service for verification controller
  src/app/modules/verification/verification.controller.ts
Due: eslint --fix

chore: update tests
  src/app/modules/verification/__tests__/verification.controller.spec.ts
Due: eslint --fix

chore: bump version to 5.63.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

fix: render both EndPageView and FormBuilder instead of toggling between them
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/BuilderAndDesignContent.tsx
Due: none

fix: update FormBuilder style for thank you button
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/BuilderAndDesignContent.tsx
Due: none

chore: fix nits
  frontend/src/features/user/billing/BillCharges/components/BillingTable.tsx
  frontend/src/features/user/billing/BillCharges/components/BillingTableSkeleton.tsx
Due: none

fix: update controller with hasNotified check
  src/app/modules/bounce/bounce.controller.ts
Due: eslint --fix

test: update controller tests
  src/app/modules/bounce/__tests__/bounce.controller.spec.ts
Due: eslint --fix

fix: remove invalid HomeRouter usage
  frontend/package-lock.json
  src/app/loaders/express/index.ts
Due: eslint --fix

fix: remove invalid HomeRouter usage (#4109)
  frontend/package-lock.json
  src/app/loaders/express/index.ts
Due: eslint --fix

feat(storage-responses/1): render storage mode responses metadata in table (#4000)
  frontend/src/app/AppRouter.tsx
  frontend/src/features/admin-form/AdminFormResultsResponsesPage.stories.tsx
  frontend/src/features/admin-form/common/AdminFormLayout.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/ResponsesLayout.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/email/EmailResponsesTab.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/index.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/StorageResponsesTab.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/ResponsesTable.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/UnlockedResponses.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/UnlockedResponsesProvider.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/hooks/usePageSearchParams.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/index.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/useSecretKey.ts
  frontend/src/features/admin-form/responses/index.ts
  frontend/src/features/admin-form/responses/queries.ts
  frontend/src/mocks/msw/handlers/admin-form/form.ts
Due: none

feat: add DecryptedRow component to render responses
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/common/ResponsesTabWrapper.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/augmentDecryptedResponses.ts
Due: none

feat: add augmentDecryptedResponses fn
  frontend/src/features/admin-form/responses/AdminSubmissionsService.ts
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/augmentDecryptedResponses.ts
  frontend/src/features/form/constants.ts
  frontend/src/features/form/utils/augmentWithQuestionNo.ts
Due: none

feat: initial fetching and loading state of individual responses
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/queries.ts
Due: none

feat(server/submission): add extra filter for form fields
  src/app/modules/submission/__tests__/submission/submission.utils.spec.ts
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

fix: return undefined next/prev submissionId if id not in current list
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/UnlockedResponsesProvider.tsx
Due: none

feat(AdminSubmissionService): add getEncryptedSubmissionById fn
  frontend/src/features/admin-form/responses/AdminSubmissionsService.ts
  frontend/src/features/admin-form/responses/queries.ts
Due: none

feat: add initial IndividualResponsePage
  frontend/src/app/AppRouter.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/index.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/index.ts
  frontend/src/features/admin-form/responses/index.ts
Due: none

feat: extract downloadAndDecryptAttachments to own util file
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/downloadAndDecryptAttachment.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/worker/decryption.worker.ts
Due: none

feat: add getDecryptedSubmissionById service fn
  frontend/src/features/admin-form/responses/AdminSubmissionsService.ts
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/queries.ts
Due: none

feat: allow nav between individual responses when metadata exists
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/UnlockedResponsesProvider.tsx
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
