Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

fix: correct image url
  frontend/public/index.html
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: remove rate limiting
  src/app/modules/react-migration/react-migration.routes.ts
Due: eslint --fix

fix: use __OG_DESCRIPTION__ for all description in index.html
  frontend/public/index.html
Due: none

fix: sanitise title
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

feat: load index.html from filesystem at bootstrap
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: refine regexps
  frontend/public/index.html
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: update import statements
  src/app/modules/react-migration/react-migration.routes.ts
Due: eslint --fix

feat: add meta tags for non-public form pages
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

ref: use a function to replace meta tags
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: remove brackets from regexp
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

feat: update meta tags image and description
  frontend/public/index.html
  frontend/public/og-img-metatag-nonpublicform.png
  frontend/public/og-img-metatag-publicform.png
  frontend/public/og-img-metatag.png
  src/app/config/schema.ts
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

feat: add meta tags to react app
  frontend/public/index.html
  frontend/public/og-img-metatag.png
  src/app/modules/form/public-form/public-form.service.ts
  src/app/modules/form/public-form/public-form.types.ts
  src/app/modules/react-migration/react-migration.controller.ts
  src/app/modules/react-migration/react-migration.routes.ts
Due: eslint --fix

fix: correctly replace all instances of __OG_TITLE__
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

ref: stay DRY when working with form metatags
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

chore: move meta tags injection down
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

ci: combine backend and e2e tests
  .github/workflows/ci.yml
Due: none

fix: add .png to image url
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: escape injected strings
  package-lock.json
  package.json
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: use empty string if formId does not exist
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: update package-lock.json
  frontend/package-lock.json
  package-lock.json
Due: none

fix: update package-lock.json
  package-lock.json
Due: none

fix: decimal field validation allows 0 to be the min or max (#5330)
  frontend/src/utils/fieldValidation.ts
Due: none

feat: add meta tags to react app (#5272)
  .github/workflows/ci.yml
  frontend/package-lock.json
  frontend/public/index.html
  frontend/public/og-img-metatag-nonpublicform.png
  frontend/public/og-img-metatag-publicform.png
  package-lock.json
  package.json
  src/app/config/schema.ts
  src/app/modules/form/public-form/public-form.service.ts
  src/app/modules/form/public-form/public-form.types.ts
  src/app/modules/react-migration/react-migration.controller.ts
  src/app/modules/react-migration/react-migration.routes.ts
Due: eslint --fix

chore: bump version to v6.15.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

ref: move meta tag images into static/images folder
  frontend/public/static/images/og-img-metatag-nonpublicform.png
  frontend/public/static/images/og-img-metatag-publicform.png
Due: none

feat: change location of images
  frontend/public/index.html
Due: none

feat: remove radio options from public form feedback modal
  frontend/src/features/env/EnvService.ts
  frontend/src/features/env/SwitchEnvFeedbackModal.stories.tsx
  frontend/src/features/env/SwitchEnvFeedbackModal.tsx
  frontend/src/features/env/SwitchEnvIcon.tsx
  frontend/src/features/public-form/components/PublicSwitchEnvMessage.tsx
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
Due: none

feat: make feedback required for public form view
  frontend/src/features/env/SwitchEnvFeedbackModal.tsx
Due: none

chore: update node and npm versions, package-lock, and dockerfiles to use OpenSSL legacy provider flag
  .github/workflows/deploy-eb.yml
  Dockerfile.development
  Dockerfile.production
  frontend/package-lock.json
  package-lock.json
  package.json
  shared/package-lock.json
Due: none

chore: upgrade alpine to lts-alpine3.16
  Dockerfile.development
  Dockerfile.production
Due: none

ref: move meta tag images into static/images folder (#5338)
  frontend/public/index.html
  frontend/public/static/images/og-img-metatag-nonpublicform.png
  frontend/public/static/images/og-img-metatag-publicform.png
Due: none

fix: remove console.log
  frontend/src/features/env/SwitchEnvFeedbackModal.tsx
Due: none

chore: add --legacy-peer-deps to ensure peer-deps are not installed
  Dockerfile.development
  Dockerfile.production
  package.json
Due: none

chore: add --legacy-peer-deps to npm prune as well
  Dockerfile.production
Due: none

feat: add media print css properties
  frontend/src/features/admin-form/common/AdminFormLayout.tsx
Due: none

chore: add comments for added flags in dockerfile for npm install and build steps
  Dockerfile.development
  Dockerfile.production
Due: none

chore: use node 18.12.0 instead of 18.12.1
  package.json
Due: none

feat: update contact email to support@form.gov.sg
  CONTRIBUTING.md
  README.md
  frontend/src/pages/PrivacyPolicy/PrivacyPolicyPage.tsx
  src/public/modules/users/views/static/privacy.client.view.html
Due: htmlhint, prettier --write

feat: allow entire form response to be viewed when printed (#5341)
  frontend/src/features/admin-form/common/AdminFormLayout.tsx
Due: none

chore: add a comment to explain scope of flags
  Dockerfile.production
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
