Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

feat: replace icon with BiHomeCircle
  frontend/src/features/admin-form/create/constants.ts
Due: none

[feat] Add internationalization support to parts of the home page
  frontend/src/i18n/locales/en-sg.ts
  frontend/src/i18n/locales/types.ts
  frontend/src/i18n/locales/zh-sg.ts
  frontend/src/pages/Landing/LandingPage.tsx
Due: none

fix(form-v2): disable sgid auth option in settings for non-beta users (#4274)
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSection.tsx
Due: none

fix: broken feedback test cases
  src/app/models/__tests__/form_feedback.server.model.spec.ts
  src/app/modules/examples/__tests__/helpers/prepareTestData.ts
  src/app/modules/feedback/__tests__/feedback.service.spec.ts
  src/app/modules/form/admin-form/__tests__/admin-form.routes.spec.ts
  src/app/modules/form/public-form/__tests__/public-form.controller.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.feedback.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
  src/types/form_feedback.ts
Due: eslint --fix

chore: cleanup deprecated feedback api
  shared/types/form/form_feedback.ts
  src/app/models/form_feedback.server.model.ts
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/form/public-form/public-form.routes.ts
  src/app/modules/form/public-form/public-form.service.ts
  src/app/routes/api/v3/forms/public-forms.feedback.routes.ts
Due: eslint --fix

feat(form-v2/react-to-angular/1): add switch to angular option (#4263)
  frontend/src/features/env/mutations.ts
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
  frontend/src/features/public-form/components/PublicSwitchEnvMessage.tsx
  frontend/src/features/workspace/WorkspacePage.tsx
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
  frontend/src/features/workspace/components/EmptyWorkspace/EmptyWorkspace.tsx
  frontend/src/services/EnvService.ts
  src/app/modules/react-migration/react-migration.controller.ts
  src/app/routes/api/v3/admin/admin.routes.ts
  src/app/routes/api/v3/forms/public-forms.form.routes.ts
Due: eslint --fix

fix(form-v2): make height of customize endpage bar fit design spec (#4262)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FormBuilder.tsx
Due: none

feat(v2): add handling of prefill for authed public forms, show fields correctly when logged in (#4275)
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/components/FormFields/FormFields.tsx
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.stories.tsx
  frontend/src/features/public-form/hooks/useFetchPrefillQuery.ts
  frontend/src/features/public-form/hooks/useStorePrefillQuery.ts
  frontend/src/features/public-form/mutations.ts
  frontend/src/hooks/useSessionStorage.ts
Due: none

chore: fix nits
  frontend/src/features/admin-form/create/builder-and-design/useDesignStore.tsx
Due: none

feat(form-v2/design-2): logo radio buttons and form color theme selection (#4271)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/StartPageView.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/DesignDrawer/DesignDrawer.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditImage/EditImage.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditImage/UploadImageInput.tsx
  frontend/src/features/admin-form/create/builder-and-design/useDesignStore.tsx
  frontend/src/features/public-form/components/FormStartPage/useFormHeader.tsx
  frontend/src/services/FileHandlerService.ts
Due: none

fix: add 'self' to workerSrc to allow storage mode downloads
  src/app/loaders/express/helmet.ts
Due: eslint --fix

feat: display instructions on public form
  frontend/src/features/public-form/PublicFormPage.tsx
  frontend/src/features/public-form/components/FormInstructions/FormInstructions.tsx
  frontend/src/features/public-form/components/FormInstructions/FormInstructionsContainer.tsx
  frontend/src/features/public-form/components/FormInstructions/index.ts
  frontend/src/templates/Field/Section/SectionField.tsx
Due: none

copy(form-v2): landing page edits
  frontend/src/pages/Landing/LandingPage.tsx
Due: none

refactor(form-v2): update links
  frontend/src/app/AppFooter.tsx
  frontend/src/constants/links.ts
  frontend/src/features/login/components/LoginForm.tsx
  frontend/src/pages/TermsOfUse/TermsOfUsePage.tsx
Due: none

copy(form-v2): twilio, login email, thank you page
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FormBuilder.tsx
  frontend/src/features/admin-form/settings/components/TwilioSettingsSection/TwilioSettingsSection.tsx
  frontend/src/features/admin-form/settings/mutations.ts
  src/app/views/templates/otp-email.server.view.html
Due: htmlhint, prettier --write

fix: add 'self' to workerSrc to allow storage mode downloads (#4294)
  src/app/loaders/express/helmet.ts
Due: eslint --fix

fix(form-v2): set document title on dismount
  frontend/src/features/admin-form/preview/PreviewFormProvider.tsx
Due: none

fix(form-v2) : remove invalid conditional
  frontend/src/features/admin-form/create/featureTour/FeatureTour.tsx
Due: none

feat: display instructions in builder and preview.
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/StartPageView.tsx
  frontend/src/features/admin-form/preview/PreviewFormPage.tsx
Due: none

feat: pull PublicSwitchEnvMessage into PublicFormWrapper
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
  frontend/src/features/public-form/components/PublicFormWrapper.tsx
  frontend/src/features/public-form/components/PublicSwitchEnvMessage.tsx
Due: none

feat: rename schema name
  shared/types/field/dateField.ts
  src/app/models/field/__tests__/dateField.spec.ts
  src/app/models/field/dateField.ts
Due: eslint --fix

feat: disable changing of authtype when MyInfo fields are in the form, and do not display esrvcid box for SGID
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSection.tsx
Due: none

feat: use current location as href instead of empty string
  frontend/src/features/admin-form/preview/PreviewFormProvider.tsx
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/components/FormEndPage/FormEndPageContainer.tsx
  frontend/src/features/public-form/components/FormEndPage/components/EndPageBlock.tsx
Due: none

feat: add feedback modal
  frontend/src/features/env/EnvService.ts
  frontend/src/features/env/SwitchEnvFeedbackModal.tsx
  frontend/src/features/env/mutations.ts
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
  shared/types/env.ts
Due: none

feat: store invalid days instead of valid days
  shared/types/field/dateField.ts
  src/app/models/field/__tests__/dateField.spec.ts
  src/app/models/field/dateField.ts
Due: eslint --fix

feat: added stories, fixed some nits
  frontend/src/features/admin-form/settings/SettingsAuthPage.stories.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSection.tsx
Due: none

feat: use current location as href instead of empty string (#4331)
  frontend/src/features/admin-form/preview/PreviewFormProvider.tsx
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/components/FormEndPage/FormEndPageContainer.tsx
  frontend/src/features/public-form/components/FormEndPage/components/EndPageBlock.tsx
Due: none

feat: add modal to publicSwitchEnvMessage
  frontend/src/features/env/EnvService.ts
  frontend/src/features/env/SwitchEnvFeedbackModal.tsx
  frontend/src/features/public-form/components/PublicSwitchEnvMessage.tsx
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
Due: none

feat: add floating action button
  frontend/src/features/admin-form/common/AdminFormLayout.tsx
  frontend/src/features/admin-form/preview/PreviewFormPage.tsx
  frontend/src/features/env/EnvService.ts
  frontend/src/features/env/SwitchEnvIcon.tsx
  frontend/src/features/public-form/components/PublicSwitchEnvMessage.tsx
  frontend/src/features/workspace/WorkspacePage.tsx
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
Due: none

chore: add remove after react TODO
  frontend/src/features/admin-form/common/AdminFormLayout.tsx
  frontend/src/features/admin-form/preview/PreviewFormPage.tsx
  frontend/src/features/env/SwitchEnvIcon.tsx
  frontend/src/features/workspace/WorkspacePage.tsx
  shared/types/env.ts
Due: none

feat(sgid): enable sgid in storage mode for frontend
  src/public/modules/forms/admin/directives/settings-form.client.directive.js
Due: eslint --fix

chore(sgid): add code comment for clarity
  src/public/modules/forms/base/controllers/submit-form.client.controller.js
Due: eslint --fix

fix: update formId
  frontend/src/features/env/EnvService.ts
Due: none

fix: update routing
  frontend/src/features/env/mutations.ts
Due: none

chore: different esrvcID param in auth url for corppass oidc
  src/app/modules/spcp/__tests__/spcp.oidc.client.spec.ts
  src/app/modules/spcp/spcp.oidc.client.ts
  src/app/modules/spcp/spcp.oidc.client.types.ts
Due: eslint --fix

feat(sgid): add sgid types and utils for verified content
  src/app/modules/verified-content/verified-content.service.ts
  src/app/modules/verified-content/verified-content.types.ts
  src/app/modules/verified-content/verified-content.utils.ts
Due: eslint --fix

feat(sgid): add sgid as a valid auth type for storage mode submissions
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
Due: eslint --fix

fix(form-v2): correct misspelling of marital
  frontend/src/features/admin-form/create/constants.ts
Due: none

feat: instantiate emergency contact modal in AdminNavBar
  frontend/src/app/AdminNavBar/AdminNavBar.tsx
  frontend/src/constants/localStorage.ts
Due: none

feat: update AdminNavBar stories
  frontend/src/app/AdminNavBar/AdminNavBar.stories.tsx
Due: none
