Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

feat(i18n): decimal validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Decimal/DecimalField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): uen validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Uen/UenField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

chore(i18n): unused cove
  frontend/src/utils/fieldValidation.ts
Due: none

refactor(i18n/types): granular interfaces
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
Due: none

feat(i18n): date validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Date/DateField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): checkbox validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Checkbox/CheckboxField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): nric validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Nric/NricField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): dropdown validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/CountryRegionField/CountryRegionField.tsx
  frontend/src/templates/Field/Dropdown/DropdownField.tsx
  frontend/src/templates/Field/Table/ColumnCell.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

refactor(i18n): collapse single use const to strings for easier extraction
  frontend/src/constants/validation.ts
  frontend/src/utils/fieldValidation.ts
Due: none

chore: lint
  frontend/src/i18n/locales/en-sg.ts
Due: none

feat(i18n): text field validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/LongText/LongTextField.tsx
  frontend/src/templates/Field/ShortText/ShortTextField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): rating and radio field validation hook
  frontend/src/templates/Field/Radio/RadioField.tsx
  frontend/src/templates/Field/Rating/RatingField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): email + verified email field validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Email/EmailFieldInput.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): attachment field validation
  frontend/src/templates/Field/Attachment/AttachmentField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): phone + verified phone field validation
  frontend/src/features/verifiable-fields/Mobile/VerifiableMobileField.tsx
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Mobile/MobileFieldInput.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

refactor: remove unused fn
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): landline number field validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/HomeNo/HomeNoField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): street name field validation hook
  frontend/src/templates/Field/Address/AddressField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat(i18n): adress field validation hook
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Address/AddressField.test.tsx
  frontend/src/templates/Field/Address/AddressField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

fix: improper constant on adress field
  frontend/src/templates/Field/Address/AddressField.tsx
Due: none

resolve mrf workflow emails for signature output
  shared/utils/signature.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
  src/app/services/mail/mail.service.ts
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
Due: eslint --fix

chore: bump version to v6.217.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

resolve FE behaviours
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

fix(utils): revert attachment validation impl
  frontend/src/utils/fieldValidation.ts
Due: none

replace signature canvas package with perfect free-hand package
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/admin-form/responses/ResponsesPage/storage/useDecryptionWorkers.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/processDecryptedContent.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/worker/decryption.worker.ts
Due: none

resolved perfect freehand BE package.json
  package-lock.json
  package.json
Due: none

resolve lint issues
  shared/utils/signature.ts
  src/app/utils/field-validation/field-validation.guards.ts
  src/app/utils/field-validation/validators/signatureValidator.ts
  src/types/response/index.ts
Due: eslint --fix

fix(i18n): correct addr typo, consolidate errors
  frontend/src/i18n/locales/constants/validation/en-sg.ts
  frontend/src/i18n/locales/constants/validation/index.ts
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/templates/Field/Address/AddressField.test.tsx
  frontend/src/templates/Field/Address/AddressField.tsx
Due: none

feat(i18n): extract text from payment settings section
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/BusinessInfoSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/GstToggleSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentsUnsupportedMsg.tsx
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/StripeConnectButton.tsx
  frontend/src/i18n/locales/features/admin-form/settings/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/settings/index.ts
  frontend/src/i18n/locales/features/admin-form/settings/payments/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/settings/payments/index.ts
Due: none

resized signature output around whitespace
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
Due: none

resize signature output for email displays encrypt + mrf
  shared/utils/signature.ts
  src/app/views/templates/submit-form-email.server.view.html
Due: htmlhint, prettier --write

resolve csv output for encrypt forms for signature filename
  frontend/src/features/admin-form/responses/ResponsesPage/storage/useDecryptionWorkers.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/getDecryptedResponseInstance.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/worker/decryption.worker.ts
  shared/utils/dates.ts
  shared/utils/signature.ts
Due: none

resolve disabled button behaviour
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/processDecryptedContent.ts
  frontend/src/templates/Field/Address/AddressField.tsx
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

feat: remove base64 of iac file string content
  src/app/modules/auth/sgid/auth-sgid.service.ts
  src/app/modules/intranet/intranet.service.ts
  src/app/modules/myinfo/myinfo.service.ts
  src/app/modules/sgid/sgid.service.ts
  src/app/utils/iac.ts
Due: eslint --fix

add beta flag to fieldlistoption
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/FieldListOption.tsx
Due: none

resolve processedfieldresponse signature type
  src/app/modules/submission/submission.types.ts
Due: eslint --fix

temporarily resolve sdk outdated issues
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.ts
  src/app/utils/field-validation/index.ts
Due: eslint --fix

resolve tests and lint issues
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  src/app/modules/submission/email-submission/email-submission.util.ts
Due: eslint --fix

resolve JSON filename for signature field
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/views/templates/submit-form-email.server.view.html
Due: eslint --fix, htmlhint, prettier --write

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
