Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

feat: remove twilio from fe
  shared/types/form/form.ts
  shared/types/twilio.ts
Due: none

chore: restore shared files as they are used by BE
  shared/types/form/form.ts
  shared/types/twilio.ts
Due: none

feat: remove twilio from be pass 1
  .template-env
  __tests__/integration/helpers/twilio.ts
  docker-compose.yml
  package-lock.json
  package.json
  src/app/modules/form/admin-form/__tests__/admin-form.controller.spec.ts
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/twilio/__tests__/twilio.controller.spec.ts
  src/app/modules/twilio/twilio.controller.ts
  src/app/modules/twilio/twilio.statsd-client.ts
  src/app/modules/verification/verification.service.ts
  src/app/routes/api/v3/admin/forms/admin-forms.form.routes.ts
  src/app/routes/api/v3/admin/forms/admin-forms.routes.ts
  src/app/routes/api/v3/admin/forms/admin-forms.twilio.routes.ts
  src/app/services/sms/__tests__/sms.factory.spec.ts
  src/app/services/sms/__tests__/sms.service.spec.ts
  src/app/services/sms/__tests__/sms_count.server.model.spec.ts
  src/app/services/sms/sms.dev.prismclient.ts
  src/app/services/sms/sms.factory.ts
  src/app/services/sms/sms.service.ts
  src/app/services/sms/sms.types.ts
  src/app/services/sms/sms_count.server.model.ts
  src/types/index.ts
  src/types/twilio.ts
Due: eslint --fix

test: verification.service.spec.ts
  src/app/modules/verification/__tests__/verification.service.spec.ts
Due: eslint --fix

fix: lint issues
  src/app/modules/form/admin-form/__tests__/admin-form.controller.spec.ts
Due: eslint --fix

fix: verification routes
  src/app/modules/form/admin-form/admin-form.utils.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.twilio.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
  src/app/routes/api/v3/notifications/__tests__/notifications.routes.spec.ts
Due: eslint --fix

fix: remove deleted files
  frontend/src/features/admin-form/common/AdminViewFormService.ts
  src/app/routes/api/v3/notifications/notifications.routes.ts
Due: eslint --fix

test: admin-form.service.spec.ts
  src/app/modules/form/admin-form/__tests__/admin-form.service.spec.ts
Due: eslint --fix

chore: fix lint errors
  src/app/modules/form/admin-form/admin-form.utils.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

chore: fix lint issues
  src/app/modules/form/admin-form/admin-form.utils.ts
Due: eslint --fix

Revert "chore: restore shared files as they are used by BE"
  shared/types/form/form.ts
  shared/types/twilio.ts
Due: none

chore: remove retrievePublicFormsWithSmsVerification func
  src/app/models/form.server.model.ts
  src/app/modules/form/__tests__/form.service.spec.ts
Due: eslint --fix

feat: remove twilio verifications
  frontend/src/constants/links.ts
  frontend/src/features/whats-new/FeatureUpdateList.ts
  shared/utils/verification.ts
  src/app/config/config.ts
  src/app/config/features/sms.config.ts
  src/app/config/schema.ts
  src/app/models/__tests__/form.server.model.spec.ts
  src/app/modules/core/core.errors.ts
  src/app/modules/form/form.service.ts
  src/app/modules/form/form.utils.ts
  src/app/modules/verification/verification.util.ts
  src/app/services/mail/__tests__/mail.service.spec.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
  src/app/services/mail/mail.utils.ts
  src/app/utils/formatters.ts
  src/app/views/templates/sms-verification-disabled-admin.server.view.html
  src/app/views/templates/sms-verification-disabled-collab.server.view.html
  src/app/views/templates/sms-verification-warning-admin.view.html
  src/app/views/templates/sms-verification-warning-collab.view.html
  src/app/views/templates/sms-verification-warning.view.html
  src/types/config.ts
  src/types/form.ts
Due: eslint --fix, htmlhint, prettier --write

feat: remove get/set for msgSrvcName, remove aws ssm
  docker-compose.yml
  src/app/models/__tests__/form.server.model.spec.ts
  src/app/models/form.server.model.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/form/admin-form/admin-form.utils.ts
  src/types/form.ts
Due: eslint --fix

chore: fix lint issues
  src/app/services/mail/mail.service.ts
Due: eslint --fix

chore: remove stoplight/prism
  package-lock.json
  package.json
Due: none

feat: add tc for edit step block
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/EditStepBlock.stories.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock.tsx
Due: none

feat: active and inactive step block chromatic stories
  frontend/src/features/admin-form/create/workflow/CreatePageWorkflowTab.stories.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/EditStepBlock.stories.tsx
Due: none

feat: edit dropdown stories
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditDropdown/EditDropdown.stories.tsx
Due: none

feat: add stories for conditional routing option modal
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/ConditionalRoutingOptionModal.stories.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/EditStepBlock.stories.tsx
Due: none

chore: add field validation test
  src/app/modules/form/admin-form/__tests__/admin-form.service.spec.ts
Due: eslint --fix

chore: expose subroutine errors
  src/app/modules/form/admin-form/admin-form.service.ts
Due: eslint --fix

chore: remove unused prop
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditDropdown/EditDropdown.tsx
Due: none

fix: reduce usage of watch to getValues, refactor variables
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock.tsx
Due: none

chore: move conditional-routing-example.png to the same folder as usage for colocation
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/ConditionalRoutingOptionModal.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/conditional-routing-example.png
Due: none

fix: remove renderHook from stories which is not supported
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/ConditionalRoutingOptionModal.stories.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/ConditionalRoutingOptionModal.tsx
Due: none

fix: import image directly instead of using path
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/ConditionalRoutingOptionModal.tsx
Due: none

chore: refactor respondent block into smaller components
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingMappingDeleteModal.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingOption.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingOptionModal.stories.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingOptionModal.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/DynamicRespondentOption.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/StaticRespondentOption.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/common.ts
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/conditional-routing-example.png
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/types.ts
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/RespondentBlock.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/index.tsx
Due: none

feat: move csv template parsing for header to common function
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingOption.tsx
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/StaticRespondentOption.tsx
  shared/constants/errors.ts
Due: none

feat: add rationale for attaching mapping to field instead of step
  shared/types/field/dropdownField.ts
Due: none

chore: remove multiple string duplicates by shifting into getFileName function
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingOption.tsx
Due: none

feat: add trimming of email
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingOption.tsx
Due: none

feat: add trimming of email during validation
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/RespondentBlock/Components/ConditionalRoutingOption.tsx
Due: none

fix: trim text input before sending to backend
  frontend/src/features/public-form/PublicFormProvider.tsx
Due: none

fix: display update error if no mapping for selected cond field
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/InactiveStepBlock/InactiveStepBlock.tsx
Due: none

chore: address comments
  frontend/src/features/admin-form/settings/SettingsMultiLangPage.tsx
  frontend/src/features/admin-form/settings/components/MultiLanguageSection/EndPageTranslationContainer.tsx
  frontend/src/features/admin-form/settings/components/MultiLanguageSection/mutations/useTranslationLogic.ts
Due: none

fix: make comment more terse and fix typo
  frontend/src/features/public-form/PublicFormProvider.tsx
Due: none

fix: cannot change respondent type bug
  frontend/src/features/admin-form/create/workflow/components/WorkflowContent/EditStepBlock/EditStepBlock.tsx
  frontend/src/features/admin-form/create/workflow/types.ts
Due: none

chore: add info logs if no target emails found
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
Due: eslint --fix

fix(i18n): replace title,desc labels missed earlier
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditAttachment/EditAttachment.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditCheckbox/EditCheckbox.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditCountryRegion/EditCountryRegion.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditDate/EditDate.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditDecimal/EditDecimal.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditDropdown/EditDropdown.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditEmail/EditEmail.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditHeader.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditHomeno/EditHomeno.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditImage/EditImage.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditLongText/EditLongText.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditMobile/EditMobile.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditNric.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditRating/EditRating.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditShortText/EditShortText.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditUen.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditYesNo.tsx
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
