Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

fix: separate form count from the workspace title
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceHeader.tsx
Due: none

fix: return promise and catch error
  src/app/modules/form/admin-form/admin-form.service.ts
Due: eslint --fix

feat: add logging to capture DNS resolution error (#6631)
  src/app/modules/webhook/webhook.validation.ts
Due: eslint --fix

fix: multi_qty not having defaults, maxqty validation should skip if display_amount_keys is undefined
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
Due: none

fix: max quantity error swallowed by empty amount
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
Due: none

refactor: pass context with req.body
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.errors.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/types/api/encrypt_submission.ts
Due: eslint --fix

fix: default payment type to products
  frontend/src/features/admin-form/create/builder-and-design/mutations/useDeleteFormField.ts
Due: none

fix: send error responses
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
Due: eslint --fix

fix: filter nomenclature
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

refactor: move flag str to constants file
  src/app/modules/submission/email-submission/ParsedResponsesObject.class.ts
  src/app/modules/submission/encrypt-submission/IncomingEncryptSubmission.class.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.constants.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

fix: skip qty validation when multiqty is disabled (#6624)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
  src/app/modules/form/admin-form/__tests__/admin-form.payments.service.spec.ts
  src/app/modules/form/admin-form/admin-form.payments.service.ts
Due: eslint --fix

docs: add TODOs to remove filters
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

refactor: use isEncryptedMode bool const
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

fix: restore retrieveForm step
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
Due: eslint --fix

chore: update mockpass dev dependency version
  package-lock.json
  package.json
Due: none

chore: revert out-of-scope changes
  __tests__/unit/backend/helpers/jest-db.ts
  src/app/loaders/express/helmet.ts
Due: eslint --fix

refactor: apply suggestions from code review
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditNumber/EditNumber.tsx
  frontend/src/features/admin-form/create/builder-and-design/utils/fieldCreation.ts
  frontend/src/utils/fieldValidation.ts
  shared/types/field/numberField.ts
  src/app/models/field/numberField.ts
  src/app/utils/field-validation/validators/numberValidator.ts
Due: eslint --fix

fix: add validation for invalid ranges
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditNumber/EditNumber.tsx
Due: none

feat: improve error message clarity for range validation
  frontend/src/utils/fieldValidation.ts
Due: none

feat: implement frontend and backend for range validation
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditNumber/EditNumber.tsx
  frontend/src/features/admin-form/create/builder-and-design/utils/fieldCreation.ts
  frontend/src/utils/fieldValidation.ts
  shared/types/field/numberField.ts
  src/app/models/field/numberField.ts
  src/app/utils/field-validation/validators/numberValidator.ts
Due: eslint --fix

feat: add mongodb script for schema migration
  scripts/20230817_migrate-number-field-schema/migrate-number-field-schema.js
Due: none

fix: remove space from receipt link email
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

fix: default payment type to products (#6633)
  frontend/src/features/admin-form/create/builder-and-design/mutations/useDeleteFormField.ts
Due: none

feat: display payment products on individual response page and csv download (#6629)
  frontend/src/features/admin-form/responses/IndividualResponsePage/PaymentSection.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/CsvRecord.class.ts
  frontend/src/features/admin-form/responses/common/utils/getPaymentDataView.ts
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
  shared/types/submission.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
Due: eslint --fix

fix: remove space from receipt link email (#6634)
  src/app/views/templates/payment-confirmation.view.html
Due: htmlhint, prettier --write

feat: platform api v1 - get and update webhook settings (#6608)
  shared/constants/form.ts
  shared/types/form/form.ts
  shared/types/user.ts
  src/app/config/schema.ts
  src/app/models/form.server.model.ts
  src/app/models/user.server.model.ts
  src/app/modules/auth/auth.middlewares.ts
  src/app/modules/auth/auth.service.ts
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/form/admin-form/admin-form.middlewares.ts
  src/app/modules/user/user.service.ts
  src/app/routes/api/public/v1/admin/forms/admin-forms.public.routes.ts
  src/types/config.ts
  src/types/form.ts
  src/types/user.ts
Due: eslint --fix

fix: storage mode submission
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.errors.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/types/api/encrypt_submission.ts
Due: eslint --fix

chore: bump version to v6.71.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

refactor: controller handler types
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.types.ts
Due: eslint --fix

refactor: mv code used by new endpoint out from email-submission
  src/app/modules/form/admin-form/__tests__/admin-form.controller.spec.ts
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/submission/ParsedResponsesObject.class.ts
  src/app/modules/submission/email-submission/__tests__/ParsedResponsesObject.class.spec.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/email-submission/email-submission.errors.ts
  src/app/modules/submission/email-submission/email-submission.service.ts
  src/app/modules/submission/email-submission/email-submission.types.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/app/modules/submission/submission.errors.ts
  src/app/modules/submission/submission.service.ts
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

chore: update copy for product modal errors
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/ProductModal.tsx
Due: none

feat: update workspace content and removed unused WorkspacePageContent
  frontend/src/features/workspace/WorkspaceContent.tsx
  frontend/src/features/workspace/components/WorkspacePageContent.tsx
Due: none

feat: update empty workspace component with folder variation
  frontend/src/features/workspace/components/EmptyWorkspace/EmptyWorkspace.tsx
Due: none

feat: display emptyworkspace based on whether default
  frontend/src/features/workspace/WorkspaceContent.tsx
  frontend/src/features/workspace/WorkspaceContext.tsx
  frontend/src/features/workspace/WorkspaceProvider.tsx
Due: none

fix: filter name in tests
  src/app/modules/submission/__tests__/submission.utils.spec.ts
Due: eslint --fix

chore: update copy for variable payment preview
  frontend/src/features/public-form/components/FormPaymentPage/components/VariablePaymentItemDetailsBlock.tsx
Due: none

fix(workspaces): remove form from workspace upon collaborator removal (#6592)
  frontend/src/features/workspace/WorkspacePage.tsx
  src/app/modules/form/admin-form/admin-form.service.ts
Due: eslint --fix

feat: update permission list
  src/app/models/form.server.model.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/types/form.ts
Due: eslint --fix

fix: tests for refactored email submission code
  shared/types/form/form.ts
  src/app/modules/form/admin-form/__tests__/admin-form.controller.spec.ts
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/submission/ParsedResponsesObject.class.ts
  src/app/modules/submission/__tests__/ParsedResponsesObject.class.spec.ts
  src/app/modules/submission/__tests__/submission.service.spec.ts
  src/app/modules/submission/__tests__/submission.utils.spec.ts
  src/app/modules/submission/email-submission/__tests__/email-submission.service.spec.ts
  src/app/modules/submission/email-submission/__tests__/email-submission.util.spec.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/encrypt-submission/IncomingEncryptSubmission.class.ts
  src/app/modules/submission/submission.utils.ts
  src/types/form.ts
Due: eslint --fix

chore: update table width, ordering, and copy for response table
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/ResponsesTable/ResponsesTable.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/ResponsesTable/utils.ts
Due: none
