Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

feat: add conditional check for invalid days
  frontend/src/templates/Field/Date/DateField.tsx
  frontend/src/utils/date.ts
Due: none

edit: edit day to number mapping
  frontend/src/utils/date.ts
Due: none

feat: add stories
  frontend/src/templates/Field/Date/DateField.stories.tsx
  frontend/src/templates/Field/Date/DateField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none

feat: add field validation for invalid days
  frontend/src/utils/fieldValidation.ts
Due: none

refactor: refactor code
  frontend/src/utils/date.ts
  src/app/utils/field-validation/validators/dateValidator.ts
Due: eslint --fix

edit: remove unnecessary conditional check
  frontend/src/utils/date.ts
Due: none

refactor: remove unnecessary export
  src/app/utils/field-validation/validators/dateValidator.ts
Due: eslint --fix

fix(form-v2): remove last 2 slides in rollout announcement (#4484)
  frontend/src/features/rollout-announcement/Announcements.tsx
  frontend/src/features/rollout-announcement/RolloutAnnouncementModal.tsx
  frontend/src/features/rollout-announcement/components/LastFeatureContent.tsx
Due: none

fix: mobile padding in admin form preview
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/BuilderAndDesignPlaceholder/EmptyFormPlaceholder.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FormBuilder.tsx
Due: none

ref: switch from ordered to unordered list
  frontend/src/features/workspace/components/DeleteFormModal/DeleteFormModal.tsx
Due: none

feat: remove unused commented import
  frontend/src/features/workspace/components/DeleteFormModal/DeleteFormModal.stories.tsx
Due: none

ref: inline whitespace check into pattern validator
  frontend/src/features/admin-form/settings/components/TwilioSettingsSection/TwilioDetailsInputs.tsx
Due: none

refactor: shift util functions to shared folder to prevent code duplication
  frontend/src/templates/Field/Date/DateField.tsx
  frontend/src/utils/date.ts
  frontend/src/utils/fieldValidation.ts
  shared/utils/date-validation.ts
  src/app/utils/field-validation/validators/dateValidator.ts
Due: eslint --fix

feat: replace all links in app with constants
  frontend/src/app/AdminNavBar/AdminNavBar.tsx
  frontend/src/app/AppPublicHeader.tsx
  frontend/src/constants/links.ts
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditMyInfo/EditMyInfo.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/FieldListDrawer.tsx
  frontend/src/features/admin-form/create/logic/components/EmptyLogic.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/EmptyFeedback/EmptyFeedback.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/common/EmptyResponses/EmptyResponses.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/email/EmailResponsesTab.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/SecretKeyVerification.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSection.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/EsrvcIdBox.tsx
  frontend/src/features/admin-form/settings/components/TwilioSettingsSection/TwilioSettingsSection.tsx
  frontend/src/features/admin-form/settings/components/WebhooksSection/WebhooksUnsupportedMsg.tsx
  frontend/src/features/user/billing/BillingForm/BillingForm.tsx
  frontend/src/pages/Landing/LandingPage.tsx
Due: none

fix(form-v2): form footer follows form's colour scheme (#4463)
  frontend/src/components/Footer/CompactFooter.tsx
  frontend/src/components/Footer/FullFooter.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/BuilderAndDesignContent.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/EndPageView.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FormBuilder.tsx
  frontend/src/features/public-form/components/FormFooter/FormFooter.tsx
  frontend/src/features/public-form/components/PublicFormWrapper.tsx
Due: none

chore: don't use webworker
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditImage/UploadImageInput.tsx
Due: none

chore: add comment to create page
  frontend/src/features/admin-form/create/CreatePage.tsx
Due: none

feat(datadog): connect logs and traces
  src/app/loaders/datadog-tracer.ts
Due: eslint --fix

fix: add formId error, refactor response entry
  frontend/src/features/env/EnvService.ts
  frontend/src/features/env/mutations.ts
  src/app/modules/form/public-form/public-form.middlewares.ts
Due: eslint --fix

feat(sgid): enable sgid for storage mode on frontend
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/constants.ts
Due: none

feat: add angular phase out date as env var
  docker-compose.yml
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
  shared/types/core.ts
  src/app/config/schema.ts
  src/app/loaders/express/locals.ts
  src/app/modules/frontend/frontend.service.ts
  src/public/utils/injectedVariables.ts
  src/types/config.ts
Due: eslint --fix

feat: fix stories
  frontend/src/features/admin-form/common/components/AdminFormNavbar/AdminFormNavbar.stories.tsx
  frontend/src/features/admin-form/common/components/AdminFormNavbar/AdminFormNavbar.tsx
  frontend/src/features/admin-form/common/components/AdminFormNavbar/AdminFormNavbarContainer.tsx
  frontend/src/features/admin-form/create/CreatePage.tsx
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

fix(form-v2): update CSP and image URL computation to use the correct URL (#4483)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditImage/UploadImageInput.tsx
  frontend/src/services/FileHandlerService.ts
  src/app/loaders/express/helmet.ts
Due: eslint --fix

fix: use regex for url matching
  frontend/src/features/env/mutations.ts
Due: none

fix: fix stories again
  frontend/src/features/admin-form/AdminFormResultsFeedbackPage.stories.tsx
  frontend/src/features/admin-form/AdminFormResultsResponsesPage.stories.tsx
  frontend/src/features/admin-form/AdminFormSettingsPage.stories.tsx
Due: none

ref: use clearCookie() method
  src/app/modules/react-migration/react-migration.controller.ts
Due: eslint --fix

fix: remove confidential responses from email mode features in copy
  src/public/modules/forms/admin/directiveViews/configure-form.client.view.html
Due: htmlhint, prettier --write

feat(form-workspaces/1): add form workspaces side menu (#4041)
  frontend/src/features/workspace/WorkspaceContent.tsx
  frontend/src/features/workspace/WorkspacePage.stories.tsx
  frontend/src/features/workspace/WorkspacePage.tsx
  frontend/src/features/workspace/WorkspaceService.ts
  frontend/src/features/workspace/components/WorkspaceFormRow/WorkspaceFormRowSkeleton.tsx
  frontend/src/features/workspace/components/WorkspaceFormRow/WorkspaceFormRows.tsx
  frontend/src/features/workspace/components/WorkspaceSideMenu/WorkspaceMenuHeader.tsx
  frontend/src/features/workspace/components/WorkspaceSideMenu/WorkspaceMenuTabs.tsx
  frontend/src/features/workspace/components/WorkspaceSideMenu/utils.ts
  frontend/src/features/workspace/queries.ts
  frontend/src/index.tsx
  frontend/src/mocks/msw/browser.ts
  frontend/src/mocks/msw/handlers/index.ts
  frontend/src/mocks/msw/handlers/workspace.ts
Due: none

feat: replace all links in app with constants (#4499)
  frontend/src/app/AdminNavBar/AdminNavBar.tsx
  frontend/src/app/AppPublicHeader.tsx
  frontend/src/constants/links.ts
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditMyInfo/EditMyInfo.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/FieldListDrawer.tsx
  frontend/src/features/admin-form/create/logic/components/EmptyLogic.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/EmptyFeedback/EmptyFeedback.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/common/EmptyResponses/EmptyResponses.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/email/EmailResponsesTab.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/SecretKeyVerification.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsSection.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/EsrvcIdBox.tsx
  frontend/src/features/admin-form/settings/components/TwilioSettingsSection/TwilioSettingsSection.tsx
  frontend/src/features/admin-form/settings/components/WebhooksSection/WebhooksUnsupportedMsg.tsx
  frontend/src/features/user/billing/BillingForm/BillingForm.tsx
  frontend/src/pages/Landing/LandingPage.tsx
Due: none

feat: add create workspace modal view for desktop and mobile
  frontend/src/features/workspace/components/WorkspaceSideMenu/WorkspaceMenuHeader.tsx
  frontend/src/utils/workspaceValidation.ts
Due: none

feat: add delete workspace modal
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceEditDropdown.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateOrRenameWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceModals/DeleteWorkspaceModal.tsx
Due: none

feat: add delete workspace modal storybook
  frontend/src/features/workspace/components/WorkspaceModals/CreateOrRenameWorkspaceModal.stories.tsx
  frontend/src/features/workspace/components/WorkspaceModals/DeleteWorkspaceModal.stories.tsx
Due: none

feat: add RenameWorkspaceModal storybook
  frontend/src/features/workspace/components/WorkspaceModals/RenameWorkspaceModal.stories.tsx
Due: none

chore: cleanup unused formCount prop in WorkspaceHeader
  frontend/src/features/workspace/WorkspaceContent.tsx
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceHeader.tsx
Due: none

feat: add storybook for rename workspace modal
  frontend/src/features/workspace/components/WorkspaceModals/CreateOrRenameWorkspaceModal.stories.tsx
Due: none

refactor: split CreateOrRenameWorkspaceModal to Create and Rename modals
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceEditDropdown.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateWorkspaceModal.stories.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceModals/RenameWorkspaceModal.tsx
Due: none

feat: add rename workspace modal
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceEditDropdown.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateOrRenameWorkspaceModal.tsx
Due: none

refactor: move create workspace modal to CreateOrRenameWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateOrRenameWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceSideMenu/WorkspaceMenuHeader.tsx
Due: none

fix: add isFullWidth for mobile viewport modal buttons
  frontend/src/features/workspace/components/WorkspaceModals/CreateWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceModals/DeleteWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceModals/RenameWorkspaceModal.tsx
Due: none

feat: add edit workspace icon button
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceEditDropdown.tsx
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceHeader.tsx
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
