Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

fix: add specific payment descriptions logic for payment types (#6651)
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.utils.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.utils.ts
Due: eslint --fix

chore: bump version to v6.73.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore: replace url with updated gogov links
  src/app/views/templates/sms-verification-disabled-admin.server.view.html
  src/app/views/templates/sms-verification-disabled-collab.server.view.html
  src/app/views/templates/sms-verification-warning-admin.view.html
  src/app/views/templates/sms-verification-warning-collab.view.html
  src/app/views/templates/sms-verification-warning.view.html
Due: htmlhint, prettier --write

feat: use new endpoint for storage submissions
  frontend/src/features/admin-form/common/AdminViewFormService.ts
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/mutations.ts
  frontend/src/features/public-form/utils/createSubmission.ts
Due: none

chore: check for empty body
  serverless/virus-scanner/src/s3.service.ts
Due: none

chore: remove unused utils
  serverless/virus-scanner/src/utils.ts
Due: none

chore: add try catch block
  serverless/virus-scanner/src/index.ts
Due: none

chore: specify versionId when deleting
  serverless/virus-scanner/src/index.ts
  serverless/virus-scanner/src/s3.service.ts
  serverless/virus-scanner/src/types.ts
Due: none

chore: add name to workflow
  .github/workflows/aws-deploy-scanner.yml
Due: none

chore: fix concurrency config
  .github/workflows/aws-deploy-scanner.yml
  .github/workflows/deploy-virus-scanner-staging.yml
  serverless/virus-scanner/package-lock.json
  serverless/virus-scanner/package.json
  serverless/virus-scanner/serverless.yml
Due: none

chore: add provisionedConcurrency to npm run package
  serverless/virus-scanner/package.json
Due: none

fix: extra hyphen
  .github/workflows/aws-deploy-scanner.yml
Due: none

chore: use param for provisionedConcurrency
  serverless/virus-scanner/package.json
  serverless/virus-scanner/serverless.yml
Due: none

fix: upgrade mongodb from 5.1.0 to 5.7.0
  scripts/20230317_whitespace_issue/package-lock.json
  scripts/20230317_whitespace_issue/package.json
Due: none

fix: upgrade bson from 5.1.0 to 5.4.0
  scripts/20230317_whitespace_issue/package-lock.json
  scripts/20230317_whitespace_issue/package.json
Due: none

fix: upgrade typescript from 4.5.3 to 4.9.5
  frontend/package.json
Due: none

fix: upgrade react-router-dom from 6.0.2 to 6.14.2
  frontend/package.json
Due: none

fix: upgrade react-hook-form from 7.28.0 to 7.45.2
  frontend/package.json
Due: none

fix: answerArray fields hidden error
  src/app/modules/submission/encrypt-submission/IncomingEncryptSubmission.class.ts
Due: eslint --fix

fix: use param directly
  .github/workflows/aws-deploy-scanner.yml
  .github/workflows/deploy-virus-scanner-staging.yml
  serverless/virus-scanner/package.json
  serverless/virus-scanner/serverless.yml
Due: none

feat: growthbook on frontend
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/constants/links.ts
  frontend/src/contexts/GrowthbookContext.tsx
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/mutations.ts
  frontend/src/growthbook.ts
  shared/constants/feature-flags.ts
  shared/types/core.ts
  src/app/config/features/growthbook.config.ts
  src/app/modules/frontend/frontend.service.ts
Due: eslint --fix

feat: script to set encryptionBoundaryShift to true
  scripts/20230826_set-encryption-boundary-shift-true/set-encryption-boundary-shift-true.js
Due: none

chore: simplify logger and update docs
  serverless/virus-scanner/Dockerfile
  serverless/virus-scanner/src/logger.ts
Due: none

chore: add tests for clamscan service
  jest.config.js
  serverless/virus-scanner/src/__tests/clamscan.service.spec.ts
Due: none

chore: add versionId when deleting object after copy
  serverless/virus-scanner/src/s3.service.ts
Due: none

chore: add tests for s3.service
  serverless/virus-scanner/src/__tests/s3.service.spec.ts
Due: none

chore: wrap file scanning in try catch
  serverless/virus-scanner/src/index.ts
Due: none

chore: add tests for index handler
  serverless/virus-scanner/src/__tests/index.spec.ts
  serverless/virus-scanner/src/index.ts
Due: none

chore: add log tests for s3.service
  serverless/virus-scanner/src/__tests/s3.service.spec.ts
Due: none

chore: update test description
  serverless/virus-scanner/src/__tests/s3.service.spec.ts
Due: none

chore: add scripts for prod and UAT
  .github/workflows/deploy-virus-scanner-production.yml
  .github/workflows/deploy-virus-scanner-uat.yml
Due: none

chore: update module path for tests
  .github/workflows/ci.yml
  jest.config.js
Due: none

feat: enable myinfo child vax field (#6652)
  frontend/src/features/admin-form/create/builder-and-design/constants.ts
Due: none

feat: default `encryptionBoundaryShift` to true
  src/app/models/form.server.model.ts
Due: eslint --fix

docs: add explanation
  src/app/modules/submission/email-submission/email-submission.constants.ts
Due: eslint --fix

ref: use const for myInfoFormattedValue
  frontend/src/templates/Field/ChildrenCompound/ChildrenCompoundField.tsx
Due: none

fix: form server model backend tests
  src/app/models/__tests__/form.server.model.spec.ts
Due: eslint --fix

refactor: setBody -> additionalBodyFields naming
  frontend/src/features/public-form/utils/createSubmission.ts
Due: none

refactor: rename ...FormV2Args -> ...FormClearArgs
  frontend/src/features/public-form/PublicFormService.ts
Due: none

fix: tighter typing for answerArray
  src/app/modules/submission/encrypt-submission/IncomingEncryptSubmission.class.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
