Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

feat: add workspace db model tests
  src/app/models/__tests__/workspace.server.model.spec.ts
Due: eslint --fix

feat: add workspace database model
  src/app/models/workspace.server.model.ts
  src/types/index.ts
  src/types/workspace.ts
Due: eslint --fix

refactor: update variable naming in workspace tests
  src/app/models/__tests__/workspace.server.model.spec.ts
  src/app/models/workspace.server.model.ts
Due: eslint --fix

fix(AvatarMenu): show correct chevron icon when state is open (#4242)
  frontend/src/templates/AvatarMenu/AvatarMenu.tsx
Due: none

feat: edit date field schema to add additional attribute for invalid days of the week
  shared/types/field/dateField.ts
  src/app/models/field/dateField.ts
Due: eslint --fix

chore(fieldlistoption): add brace for clarity
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/FieldListOption.tsx
Due: none

chore(adminformcreatepage.stories): update stories to use helpers for viewports
  frontend/src/features/admin-form/AdminFormCreatePage.stories.tsx
Due: none

feat: add WorkspaceDto
  shared/types/workspace.ts
Due: none

chore: rename spcp.oidc.service and update imports
  src/app/modules/form/public-form/__tests__/public-form.controller.spec.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/spcp/__tests__/spcp.oidc.service.spec.ts
  src/app/modules/spcp/spcp.controller.ts
  src/app/modules/spcp/spcp.oidc.service.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/verification/__tests__/verification.controller.spec.ts
  src/app/modules/verification/verification.controller.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.auth.routes.spec.ts
Due: eslint --fix

chore: add cp idtoken typeguard
  src/app/modules/spcp/__tests__/spcp.oidc.client.spec.ts
  src/app/modules/spcp/spcp.oidc.client.ts
  src/app/modules/spcp/spcp.oidc.util.ts
Due: eslint --fix

chore: handleSpcpOidcLogin to include CP, update tests
  src/app/modules/form/public-form/__tests__/public-form.controller.spec.ts
  src/app/modules/form/public-form/__tests__/public-form.routes.spec.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/spcp/spcp.controller.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.auth.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.form.routes.spec.ts
  src/app/routes/api/v3/singpass/singpass.routes.ts
Due: eslint --fix

chore: update getRedirectTargetSpcpOidc
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/spcp/spcp.util.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.auth.routes.spec.ts
Due: eslint --fix

feat: add cp oidc client
  src/app/modules/spcp/__tests__/spcp.oidc.client.spec.ts
  src/app/modules/spcp/spcp.oidc.client.ts
  src/app/modules/spcp/spcp.oidc.client.types.ts
Due: eslint --fix

chore: rename cache
  src/app/modules/spcp/__tests__/sp.oidc.client.spec.ts
  src/app/modules/spcp/__tests__/spcp.oidc.client.cache.spec.ts
  src/app/modules/spcp/sp.oidc.client.ts
  src/app/modules/spcp/sp.oidc.client.types.ts
  src/app/modules/spcp/spcp.oidc.client.cache.ts
Due: eslint --fix

chore: separate SpcpOidcBaseClient and SpOidcClient
  src/app/modules/spcp/__tests__/sp.oidc.client.spec.ts
  src/app/modules/spcp/__tests__/sp.oidc.service.spec.ts
  src/app/modules/spcp/sp.oidc.client.ts
  src/app/modules/spcp/spcp.oidc.client.types.ts
Due: eslint --fix

chore: update email, encrypt, verification controller, update tests
  src/app/modules/submission/email-submission/__tests__/email-submission.routes.spec.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.routes.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/verification/__tests__/verification.controller.spec.ts
  src/app/modules/verification/verification.controller.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.routes.spec.ts
Due: eslint --fix

chore: add CP tests for spcp.oidc.service
  src/app/modules/spcp/__tests__/spcp.oidc.service.spec.ts
  src/app/modules/spcp/__tests__/spcp.test.constants.ts
Due: eslint --fix

feat: createJWTPayload in spcp.oidc.service
  src/app/modules/spcp/__tests__/spcp.oidc.service.spec.ts
  src/app/modules/spcp/spcp.oidc.service.ts
Due: eslint --fix

chore: update spcp service tests
  src/app/modules/spcp/__tests__/sp.oidc.service.spec.ts
Due: eslint --fix

fix: add correct authType to express handler
  src/app/modules/spcp/spcp.controller.ts
  src/app/routes/api/v3/corppass/corppass.routes.ts
  src/app/routes/api/v3/singpass/singpass.routes.ts
Due: eslint --fix

chore: add separate cp oidc test keys
  docker-compose.yml
  src/app/modules/spcp/__tests__/spcp.oidc.client.cache.spec.ts
  src/app/modules/spcp/__tests__/spcp.oidc.client.spec.ts
  src/app/modules/spcp/__tests__/spcp.test.constants.ts
  tests/.test-env
  tests/certs/test_cp_rp_public_jwks.json
  tests/certs/test_cp_rp_secret_jwks.json
  tests/certs/test_sp_rp_public_jwks.json
  tests/certs/test_sp_rp_secret_jwks.json
Due: eslint --fix

chore: add corppass oidc env vars
  .template-env
  docker-compose.yml
  docs/DEPLOYMENT_SETUP.md
  src/app/config/features/spcp-myinfo.config.ts
  src/app/modules/spcp/__tests__/spcp.test.constants.ts
  tests/.test-env
Due: eslint --fix

chore: rename utils, types and errors files
  src/app/modules/spcp/__tests__/sp.oidc.client.spec.ts
  src/app/modules/spcp/__tests__/spcp.oidc.client.cache.spec.ts
  src/app/modules/spcp/__tests__/spcp.oidc.util.spec.ts
  src/app/modules/spcp/sp.oidc.client.ts
  src/app/modules/spcp/spcp.oidc.client.cache.ts
  src/app/modules/spcp/spcp.oidc.client.errors.ts
  src/app/modules/spcp/spcp.oidc.client.types.ts
  src/app/modules/spcp/spcp.oidc.util.ts
Due: eslint --fix

feat: SpcpOidcServiceClass
  src/app/modules/spcp/sp.oidc.service.ts
  src/app/modules/spcp/spcp.types.ts
  src/app/modules/spcp/spcp.util.ts
Due: eslint --fix

chore: update docs and client types
  src/app/modules/spcp/spcp.oidc.client.ts
  src/app/modules/spcp/spcp.oidc.client.types.ts
Due: eslint --fix

feat: add cp login route
  src/app/modules/spcp/spcp.middlewares.ts
  src/app/routes/api/v3/corppass/__tests__/corppass.routes.spec.ts
  src/app/routes/api/v3/corppass/corppass.routes.ts
  src/app/routes/api/v3/singpass/singpass.routes.ts
Due: eslint --fix

chore: rename sp.oidc.client to spcp.oidc.client
  src/app/modules/examples/__tests__/examples.routes.spec.ts
  src/app/modules/form/admin-form/__tests__/admin-form.routes.spec.ts
  src/app/modules/form/public-form/__tests__/public-form.routes.spec.ts
  src/app/modules/myinfo/__tests__/myinfo.routes.spec.ts
  src/app/modules/spcp/__tests__/sp.oidc.service.spec.ts
  src/app/modules/spcp/__tests__/spcp.controller.spec.ts
  src/app/modules/spcp/__tests__/spcp.oidc.client.spec.ts
  src/app/modules/spcp/__tests__/spcp.routes.spec.ts
  src/app/modules/spcp/sp.oidc.service.ts
  src/app/modules/spcp/spcp.oidc.client.ts
  src/app/modules/submission/email-submission/__tests__/email-submission.routes.spec.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.feedback.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.form.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.logic.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.presign.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.preview.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.settings.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.submissions.routes.spec.ts
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.twilio.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.auth.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.form.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.verification.routes.spec.ts
Due: eslint --fix

chore: fix nits
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/common/queries.ts
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/BuilderAndDesignContent.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/StartPageView.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/BuilderAndDesignDrawer.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/DesignDrawer/DesignDrawer.tsx
Due: none

feat: add tests
  src/app/models/__tests__/form.server.model.spec.ts
Due: eslint --fix

feat: edit tests
  src/app/models/__tests__/form.server.model.spec.ts
  src/app/models/field/__tests__/dateField.spec.ts
Due: eslint --fix

refactor: remove unused package
  src/app/models/__tests__/form.server.model.spec.ts
Due: eslint --fix

fix: update test
  src/public/services/__tests__/AdminService.test.ts
Due: eslint --fix

feat(form-v2): add option for admins to switch from AngularJS to React (#4230)
  shared/types/env.ts
  shared/types/index.ts
  src/app/modules/react-migration/react-migration.controller.ts
  src/app/routes/api/v3/admin/admin.routes.ts
  src/public/main.css
  src/public/main.js
  src/public/modules/core/img/info-icon.svg
  src/public/modules/forms/admin/componentViews/react-switch-banner.client.view.html
  src/public/modules/forms/admin/components/react-switch-banner.client.component.js
  src/public/modules/forms/admin/css/react-switch-banner.css
  src/public/modules/forms/admin/views/list-forms.client.view.html
  src/public/services/AdminService.ts
  src/public/services/__tests__/AdminService.test.ts
Due: eslint --fix, htmlhint, prettier --write

refactor: consolidate form header and miniheader into dumb components so they can be easily reused.
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/StartPageView.tsx
  frontend/src/features/public-form/components/FormStartPage/FormHeader.tsx
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.stories.tsx
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.tsx
  frontend/src/features/public-form/components/FormStartPage/useFormBannerLogo.tsx
Due: none

refactor: refactor code to use enums
  shared/types/field/dateField.ts
  src/app/models/field/__tests__/dateField.spec.ts
  src/app/models/field/dateField.ts
Due: eslint --fix

build: run angular tests in form-v2
  package.json
Due: none

test: fix broken AdminService test
  src/public/services/__tests__/AdminService.test.ts
Due: eslint --fix

chore: added some comments for clarity.
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/EndPageView.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/StartPageView.tsx
Due: none

chore: update stories
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.stories.tsx
Due: none
