Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

chore: update link in comments
  Dockerfile.development
Due: none

fix: disable gpu
  src/app/utils/convert-html-to-pdf.ts
Due: eslint --fix

chore: add annotation on disabling gpu
  src/app/utils/convert-html-to-pdf.ts
Due: eslint --fix

updated validation check + comments
  shared/utils/logic.ts
Due: none

chore: add south sudan, north macedonia
  shared/constants/countryRegion.ts
Due: none

revert back to double negative
  docker-compose.yml
  frontend/src/features/public-form/utils/createSubmission.ts
  frontend/src/features/public-form/utils/inputTransformation.ts
  shared/utils/logic.ts
Due: none

Revert "revert back to double negative"
  docker-compose.yml
  frontend/src/features/public-form/utils/createSubmission.ts
  frontend/src/features/public-form/utils/inputTransformation.ts
  shared/utils/logic.ts
Due: none

reinclude double negation fix only
  shared/utils/logic.ts
Due: none

updated signatures component BE color to neutral.100
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

replace signature icon with custom svg from figma
  frontend/src/assets/icons/SignatureIcon.tsx
  frontend/src/assets/icons/index.ts
  frontend/src/features/admin-form/create/constants.ts
Due: none

resolve MRF signature validation when not editable in workflow step
  frontend/src/features/public-form/utils/createSubmission.ts
Due: none

reintroduce feature & beta flag for signatures
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/BasicFieldPanel.tsx
Due: none

refactor decrypted row to use boundingbox & freehand getStrokes
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
Due: none

removed console logs & unused imports
  frontend/src/features/admin-form/responses/ResponsesPage/storage/useDecryptionWorkers.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/getDecryptedResponseInstance.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/processDecryptedContent.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/worker/decryption.worker.ts
  frontend/src/features/public-form/components/FormFields/FieldFactory.tsx
  frontend/src/features/public-form/utils/decryptSubmission.ts
Due: none

remove img generation from htmls
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.ts
  shared/types/response-v3.ts
  shared/utils/dates.ts
  shared/utils/signature.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.middleware.ts
  src/app/modules/submission/submission.utils.ts
  src/app/services/mail/mail.service.ts
  src/app/utils/convert-vector-to-buffer.ts
  src/app/utils/field-validation/validators/signatureValidator.ts
  src/app/views/templates/MrfWorkflowCompletionEmail.tsx
  src/app/views/templates/submit-form-email.server.view.html
  src/app/views/templates/submit-form-summary-pdf.server.view.html
Due: eslint --fix, htmlhint, prettier --write

Update src/app/loaders/express/parser.ts
  src/app/loaders/express/parser.ts
Due: eslint --fix

chore: add south sudan, north macedonia (#8570)
  shared/constants/countryRegion.ts
Due: none

fix: radio fields logic bug (#8568)
  shared/utils/logic.ts
Due: none

replace px with remfor box height
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

resolve bug on bug fix
  shared/utils/logic.ts
Due: none

added verbose comments to track fix
  shared/utils/logic.ts
Due: none

fix: resolve bug on radio field bug fix (#8574)
  shared/utils/logic.ts
Due: none

chore: bump version to v6.219.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

feat: test design drawer form title (#8537)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/DesignDrawer/DesignDrawer.tsx
  frontend/src/features/admin-form/settings/components/FormDetailsSection.tsx
  shared/constants/feature-flags.ts
Due: none

feat: reduce virus scanner lambda size to 128MB (#8569)
  serverless/virus-scanner-guardduty/serverless.yml
  serverless/virus-scanner-guardduty/src/__tests/index.spec.ts
  serverless/virus-scanner-guardduty/src/__tests/s3.service.spec.ts
  serverless/virus-scanner-guardduty/src/index.ts
  serverless/virus-scanner-guardduty/src/s3.service.ts
Due: none

added tests for signatures field
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditSignature/EditSignature.stories.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditSignature/EditSignature.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.test.ts
  frontend/src/templates/Field/Signature/SignatureField.stories.tsx
  frontend/src/templates/Field/Signature/SignatureField.test.tsx
  frontend/src/templates/Field/Signature/SignatureField.tsx
  shared/utils/signature.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.controller.spec.ts
  src/app/modules/submission/multirespondent-submission/__tests__/multirespondent-submission.utils.spec.ts
Due: eslint --fix

remove feature flag for testing
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/BasicFieldPanel.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.test.ts
Due: none

feat: update node / linux base (#8489)
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  Dockerfile.development
  Dockerfile.production
  README.md
  package-lock.json
  package.json
  src/app/loaders/express/__tests__/error-handler.spec.ts
  src/app/loaders/express/parser.ts
  src/app/modules/payments/payment-proof.service.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.utils.ts
  src/app/utils/convert-html-to-pdf.ts
Due: eslint --fix

chore: bump version to v6.220.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

docs(readme): update with enhanced documentation
  README.md
Due: none

chore: update nvmrc
  .nvmrc
Due: none

docs: add deepwiki badge for AI koolaid drinkers
  README.md
Due: none

standardize stroke settings to be used across different components
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/templates/Field/Signature/SignatureField.tsx
  shared/utils/signature.ts
Due: none

docs(readme): update stuff (#8578)
  .nvmrc
  README.md
Due: none

updated email attachments to be png
  Dockerfile.development
  Dockerfile.production
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.test.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/downloadAndDecryptAttachment.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/worker/decryption.worker.ts
  frontend/src/utils/convertSignatureOutput.ts
  package-lock.json
  package.json
  shared/utils/signature.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.controller.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/multirespondent-submission/__tests__/multirespondent-submission.utils.spec.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
  src/app/utils/convert-vector-array-to-png.ts
Due: eslint --fix

resolved lint issues
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/BasicFieldPanel.tsx
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.service.ts
  src/app/utils/convert-vector-array-to-png.ts
Due: eslint --fix

updated disabled background color
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

center helper text on mobile view
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

resolve docker.production apk build syntax error
  Dockerfile.production
Due: none

remove && syntax error in Dockerfile
  Dockerfile.production
Due: none
