Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

feat: add error code span tagging to some controllers
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/submission.controller.ts
  src/app/modules/verification/verification.controller.ts
Due: eslint --fix

fix: fix webhook error obj
  src/app/modules/webhook/webhook.errors.ts
Due: eslint --fix

fix: fix failing backend lint
  src/app/modules/verification/verification.errors.ts
Due: eslint --fix

docs: remove unncessary comment
  src/app/modules/auth/auth.errors.ts
Due: eslint --fix

fix: remove error codes from sms.*
  src/app/services/postman-sms/postman-sms.errors.ts
Due: eslint --fix

fix: fix test:backend failing with prefixed message
  src/app/loaders/express/__tests__/error-handler.spec.ts
  src/app/modules/core/core.errors.ts
Due: eslint --fix

refactor: organise into block groups based on origin
  src/app/modules/core/core.errors.ts
  src/app/modules/form/form.errors.ts
Due: eslint --fix

fix: rename all error codes to screaming snake case
  src/app/modules/admin-feedback/admin-feedback.errors.ts
  src/app/modules/auth/auth.errors.ts
  src/app/modules/bounce/bounce.errors.ts
  src/app/modules/core/core.errors.ts
  src/app/modules/feedback/feedback.errors.ts
  src/app/modules/form/admin-form/admin-form.errors.ts
  src/app/modules/myinfo/myinfo.errors.ts
  src/app/modules/payments/payment-proof.errors.ts
  src/app/modules/payments/payments.errors.ts
  src/app/modules/payments/stripe.errors.ts
  src/app/modules/spcp/spcp.errors.ts
  src/app/modules/spcp/spcp.oidc.client.errors.ts
  src/app/modules/submission/email-submission/email-submission.errors.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.errors.ts
  src/app/modules/submission/receiver/receiver.errors.ts
  src/app/modules/submission/submission.errors.ts
  src/app/modules/submission/submission.service.ts
  src/app/modules/submission/submission.utils.ts
  src/app/modules/user/user.errors.ts
  src/app/modules/verification/verification.errors.ts
  src/app/modules/verified-content/verified-content.errors.ts
  src/app/modules/webhook/webhook.errors.ts
  src/app/modules/workspace/workspace.errors.ts
  src/app/services/captcha/captcha.errors.ts
  src/app/services/mail/mail.errors.ts
  src/app/services/postman-sms/postman-sms.errors.ts
  src/app/services/turnstile/turnstile.errors.ts
Due: eslint --fix

fix: make error code names SCREAMING_SNAKE_CASE
  src/app/modules/core/core.errors.ts
  src/app/modules/form/form.errors.ts
  src/app/modules/submission/submission.errors.ts
Due: eslint --fix

fix: make auth middleware create error object
  src/app/modules/auth/auth.middlewares.ts
  src/app/modules/auth/auth.utils.ts
  src/app/modules/datadog/datadog.utils.ts
Due: eslint --fix

tests: add tests for error codes
  src/app/modules/core/__tests__/core.errors.spec.ts
Due: eslint --fix

fix: rename remaining error code to screaming snake case
  src/app/modules/billing/billing.errors.ts
  src/app/modules/sgid/sgid.errors.ts
Due: eslint --fix

fix: fix spacing
  src/app/modules/submission/submission.controller.ts
Due: eslint --fix

fix: remove dd tag setting from controllers
  src/app/modules/form/admin-form/admin-form.controller.ts
  src/app/modules/form/admin-form/admin-form.payments.controller.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/submission.controller.ts
  src/app/modules/verification/verification.controller.ts
Due: eslint --fix

fix: fix failing tests due to wrong err msg
  src/app/loaders/express/__tests__/error-handler.spec.ts
Due: eslint --fix

fix: remove non-existing imports and fix TS typings to fix failing backend build
  shared/types/submission.ts
  src/app/modules/submission/email-submission/email-submission.service.ts
Due: eslint --fix

fix: fix based on PR feedback
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsDisabledExplanationText.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/FormSingleSubmissionToggle.tsx
  frontend/src/features/admin-form/settings/mutations.ts
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/components/FormFields/PublicFormSubmitButton.tsx
  src/app/modules/form/form.service.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
Due: eslint --fix

fix: typing on helmet
  src/app/loaders/express/helmet.ts
Due: eslint --fix

fix: refactor code to resolve PR comments
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
  src/app/modules/form/form.service.ts
  src/app/modules/submission/email-submission/email-submission.service.ts
Due: eslint --fix

feat(errors): revamp business logic error codes (#7443)
  src/app/modules/admin-feedback/admin-feedback.errors.ts
  src/app/modules/auth/auth.errors.ts
  src/app/modules/auth/auth.middlewares.ts
  src/app/modules/auth/auth.utils.ts
  src/app/modules/billing/billing.errors.ts
  src/app/modules/bounce/bounce.errors.ts
  src/app/modules/core/__tests__/core.errors.spec.ts
  src/app/modules/core/core.errors.ts
  src/app/modules/datadog/datadog.utils.ts
  src/app/modules/feedback/feedback.errors.ts
  src/app/modules/form/admin-form/admin-form.errors.ts
  src/app/modules/form/form.errors.ts
  src/app/modules/myinfo/myinfo.errors.ts
  src/app/modules/payments/payment-proof.errors.ts
  src/app/modules/payments/payments.errors.ts
  src/app/modules/payments/stripe.errors.ts
  src/app/modules/sgid/sgid.errors.ts
  src/app/modules/spcp/spcp.errors.ts
  src/app/modules/spcp/spcp.oidc.client.errors.ts
  src/app/modules/submission/email-submission/email-submission.errors.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.errors.ts
  src/app/modules/submission/receiver/receiver.errors.ts
  src/app/modules/submission/submission.errors.ts
  src/app/modules/submission/submission.service.ts
  src/app/modules/submission/submission.utils.ts
  src/app/modules/user/user.errors.ts
  src/app/modules/verification/verification.errors.ts
  src/app/modules/verified-content/verified-content.errors.ts
  src/app/modules/webhook/webhook.errors.ts
  src/app/modules/workspace/workspace.errors.ts
  src/app/services/captcha/captcha.errors.ts
  src/app/services/mail/mail.errors.ts
  src/app/services/postman-sms/postman-sms.errors.ts
  src/app/services/turnstile/turnstile.errors.ts
Due: eslint --fix

fix: handle mapErrorRoute and remove outdated todo
  frontend/src/features/public-form/components/SingleSubmissionModal/SingleSubmissionModal.tsx
  src/app/modules/form/admin-form/admin-form.utils.ts
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

chore: bump version to v6.134.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix: refactor payments message to its own component
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
  frontend/src/features/public-form/components/FormFields/PublicFormSubmitButton.tsx
  frontend/src/features/public-form/components/SingleSubmissionModal/SingleSubmissionModal.tsx
  frontend/src/features/public-form/utils/urls.ts
Due: none

chore: rename component to make it more understandable
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
Due: none

chore: change ternary to if statements
  frontend/src/features/admin-form/settings/components/PaymentSettingsSection/PaymentSettingsSection.tsx
Due: none

feat: replace hardcoded text in FeedbackBlock for i18n
  frontend/src/features/public-form/components/FormEndPage/components/FeedbackBlock.tsx
  frontend/src/i18n/locales/features/public-form/en-sg.ts
  frontend/src/i18n/locales/features/public-form/index.ts
Due: none

feat(i18n): add admin-form feature directory, merged navbar translations, populate with English translations
  frontend/src/i18n/locales/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/navbar/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/navbar/index.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/fields/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/fields/index.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/header-and-instructions/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/header-and-instructions/index.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/logic/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/logic/index.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/thank-you/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/sidebar/thank-you/index.ts
  frontend/src/i18n/locales/features/index.ts
  frontend/src/i18n/locales/types.ts
Due: none

chore: update copy changes to singpass settings page
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsDescriptionText.tsx
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsDisabledExplanationText.tsx
Due: none

feat: add responseId and link to view submission on settings page
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
  src/app/views/templates/submit-form-email.server.view.html
Due: eslint --fix, htmlhint, prettier --write

feat: add copy for link to response page
  src/app/views/templates/submit-form-email.server.view.html
Due: htmlhint, prettier --write

fix: remove unused import
  src/app/services/mail/mail.types.ts
Due: eslint --fix

chore: replace MyInfo copy to Myinfo
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/AuthSettingsDisabledExplanationText.tsx
Due: none

hotfix: fix issue where encrypt mode pdf attachments don't have responses
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
  src/types/vendor/express.d.ts
Due: eslint --fix

fix: remove unnecessary import
  src/app/modules/submission/encrypt-submission/encrypt-submission.middleware.ts
Due: eslint --fix

fix: make emailData optional for payment forms
  src/app/modules/submission/encrypt-submission/encrypt-submission.service.ts
Due: eslint --fix

fix: lock toggle for encrypt forms
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditEmail/EditEmail.tsx
Due: none

chore: bump version to v6.134.1
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix: add the code to error tag in datadog traces
  src/app/modules/datadog/datadog.utils.ts
Due: eslint --fix

fix: change to string type for dd to identify
  src/app/modules/datadog/datadog.utils.ts
Due: eslint --fix

fix: remove stringified error code
  src/app/modules/datadog/datadog.utils.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
