Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

feat: hide banner
  src/public/modules/forms/admin/controllers/list-forms.client.controller.js
  src/public/modules/forms/admin/views/list-forms.client.view.html
Due: eslint --fix, htmlhint, prettier --write

ref: change location.href to location.assign
  src/public/modules/forms/base/controllers/submit-form.client.controller.js
Due: eslint --fix

feat: remove unused, deprecated routes
  src/app/loaders/express/index.ts
  src/app/modules/auth/auth.routes.ts
  src/app/modules/form/admin-form/admin-form.routes.ts
  src/app/modules/form/public-form/public-form.routes.ts
  src/app/modules/frontend/frontend.routes.ts
  src/app/modules/submission/submission.routes.ts
  src/app/modules/verification/verification.routes.ts
Due: eslint --fix

feat: delete unused, deprecated router files
  src/app/modules/analytics/analytics.routes.ts
  src/app/modules/billing/__tests__/billing.routes.spec.ts
  src/app/modules/billing/billing.routes.ts
  src/app/modules/bounce/bounce.routes.ts
  src/app/modules/spcp/__tests__/spcp.controller.spec.ts
  src/app/modules/spcp/spcp.controller.ts
  src/app/modules/spcp/spcp.middlewares.ts
  src/app/modules/spcp/spcp.routes.ts
  src/app/modules/user/__tests__/user.routes.spec.ts
  src/app/modules/user/user.routes.ts
Due: eslint --fix

ref: move EditRadio and EditCheckbox to own folder
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditCheckbox/EditCheckbox.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditCheckbox/index.ts
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditRadio/EditRadio.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditRadio/index.ts
Due: none

feat(EditRadio): add option placeholder text and add story
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditRadio/EditRadio.stories.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditRadio/EditRadio.tsx
Due: none

feat(EditCheckbox): add option placeholder text and add story
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditCheckbox/EditCheckbox.stories.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditCheckbox/EditCheckbox.tsx
Due: none

fix: remove spcp router tests
  src/app/modules/spcp/__tests__/spcp.routes.spec.ts
Due: eslint --fix

fix(v2): fix redirection between React and Angular apps (#4801)
  frontend/src/app/HashRouterElement.tsx
  src/app/loaders/express/logging.ts
  src/app/modules/react-migration/react-migration.controller.ts
  src/public/modules/forms/base/controllers/submit-form.client.controller.js
Due: eslint --fix

fix: highlight row on hover
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/ResponsesTable.tsx
Due: none

feat: change cursor to pointer
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/ResponsesTable.tsx
Due: none

chore: use mutation
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackDownloadButton.tsx
Due: none

chore: add isLoading state
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackDownloadButton.tsx
Due: none

style: fix padding for form fields
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FieldRow/FieldRowContainer.tsx
Due: none

fix: add numerical comparison for decimal equality in logic (#4802)
  frontend/src/features/logic/utils/isConditionFulfilled.ts
Due: none

feat(whats-new): update content in What's New (#4598)
  frontend/src/features/rollout-announcement/components/NewFeatureContent.tsx
  frontend/src/features/whats-new/FeatureUpdateList.ts
  frontend/src/features/whats-new/WhatsNewContent.stories.tsx
  frontend/src/features/whats-new/WhatsNewContent.tsx
  frontend/src/features/whats-new/assets/1-dnd.json
  frontend/src/features/whats-new/assets/phone_field_feature_update.svg
  frontend/src/features/whats-new/assets/workspaces_feature_update.svg
  frontend/src/templates/LottieAnimation.tsx
Due: none

ref: extract LottieAnimation into its own component
  frontend/src/features/rollout-announcement/components/NewFeatureContent.tsx
  frontend/src/templates/LottieAnimation/LottieAnimation.tsx
  frontend/src/templates/LottieAnimation/index.ts
Due: none

feat: lock individual response navbar, fix mobile view for individual responses, add verified label to verified question labels
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponseNavbar.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/components/FormResultsNavbar/FormResultsNavbar.tsx
Due: none

feat: add agency count to analytics endpoint
  shared/types/analytics.ts
  src/app/modules/analytics/__tests__/analytics.controller.spec.ts
  src/app/modules/analytics/__tests__/analytics.service.spec.ts
  src/app/modules/analytics/analytics.controller.ts
  src/app/modules/analytics/analytics.service.ts
Due: eslint --fix

feat: update landing page copy and animations
  frontend/src/pages/Landing/LandingPage.tsx
  frontend/src/pages/Landing/assets/images/animation-hero.json
  frontend/src/pages/Landing/assets/images/animation-mode.json
  frontend/src/pages/Landing/assets/images/animation-typing.json
  frontend/src/pages/Landing/assets/images/how_form_works.svg
  frontend/src/pages/Landing/assets/images/icon_a11y.svg
  frontend/src/pages/Landing/components/FeatureSection.tsx
Due: none

feat: settings sidebar for mobile
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

test: update landingpage agencyCount story
  frontend/src/mocks/msw/handlers/landing.ts
Due: none

chore: remove unused imports
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

fix: correct simplur template string instantiation
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/DownloadWithAttachmentModal/DownloadWithAttachmentModal.stories.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/ProgressModal/CompleteScreen.tsx
Due: none

feat(v2): highlight response table row on hover (#4808)
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/ResponsesTable.tsx
Due: none

chore: address comments
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackDownloadButton.tsx
Due: none

Update frontend/src/templates/Field/Table/TableField.tsx
  frontend/src/templates/Field/Table/TableField.tsx
Due: none

fix: move ng-if to the component
  src/public/modules/forms/admin/views/list-forms.client.view.html
Due: htmlhint, prettier --write

chore: remove partytown
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: fix prettier complaints
  frontend/src/templates/Field/Table/TableField.tsx
Due: none

fix: reinstate postinstall without partytown
  frontend/package.json
Due: none

feat(v2): hide react switch banner on AngularJS (#4805)
  src/public/modules/forms/admin/controllers/list-forms.client.controller.js
  src/public/modules/forms/admin/views/list-forms.client.view.html
Due: eslint --fix, htmlhint, prettier --write

fix: fix padding and margins for tabs and tabpanels
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

fix(v2): handle null errors for table fields (#4798)
  frontend/src/templates/Field/Table/TableField.tsx
Due: none

fix: update form footer padding and margins
  frontend/src/features/public-form/components/FormFooter/FormFooter.tsx
Due: none

feat: lock individual response navbar, fix mobile view for individual responses, add verified label to verified question labels (#4812)
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponseNavbar.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/responses/components/FormResultsNavbar/FormResultsNavbar.tsx
Due: none

feat: call feedback download endpoint (#4677)
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackDownloadButton.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackPage.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackService.ts
  frontend/src/features/admin-form/responses/FeedbackPage/utils/FeedbackCsvGenerator.test.ts
  frontend/src/features/admin-form/responses/FeedbackPage/utils/FeedbackCsvGenerator.ts
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/EncryptedResponseCsvGenerator/EncryptedResponseCsvGenerator.ts
  frontend/src/features/admin-form/responses/common/utils/CsvGenerator/CsvGenerator.test.ts
  frontend/src/features/admin-form/responses/common/utils/CsvGenerator/CsvGenerator.ts
  frontend/src/features/admin-form/responses/common/utils/CsvGenerator/index.ts
  frontend/src/features/admin-form/responses/common/utils/index.ts
Due: none

fix: allow open ended custom date range
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditDate/EditDate.tsx
Due: none

chore(v2): remove partytown (#4816)
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
