Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

feat: always fetch response when MRF is enabled
  frontend/src/features/admin-form/responses/IndividualResponsePage/queries.ts
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

fix: frontend/package.json to reduce vulnerabilities
  frontend/package.json
Due: none

fix: serverless/virus-scanner/package.json & serverless/virus-scanner/package-lock.json to reduce vulnerabilities
  serverless/virus-scanner/package-lock.json
  serverless/virus-scanner/package.json
Due: none

fix: form duplication with MRF
  frontend/src/features/admin-form/template/TemplateFormService.ts
  frontend/src/features/admin-form/template/UseTemplateModal/UseTemplateWizardProvider.tsx
  frontend/src/features/admin-form/template/mutation.ts
  frontend/src/features/workspace/WorkspaceService.ts
  frontend/src/features/workspace/components/CreateFormModal/CreateFormWizardProvider.tsx
  frontend/src/features/workspace/components/DuplicateFormModal/DupeFormWizardProvider.tsx
  frontend/src/features/workspace/mutations.ts
  shared/types/form/form.ts
  src/app/modules/form/admin-form/admin-form.utils.ts
Due: eslint --fix

chore: fix jsx string property assignment
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
Due: none

fix: payments thank you page (#6975)
  frontend/src/features/public-form/components/FormEndPage/components/FeedbackBlock.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/PaymentStack.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/assets/PaymentSuccessSvgr.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/StripeReceiptContainer.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
Due: none

fix(mrf): form duplication with MRF (#6985)
  frontend/src/features/admin-form/template/TemplateFormService.ts
  frontend/src/features/admin-form/template/UseTemplateModal/UseTemplateWizardProvider.tsx
  frontend/src/features/admin-form/template/mutation.ts
  frontend/src/features/workspace/WorkspaceService.ts
  frontend/src/features/workspace/components/CreateFormModal/CreateFormWizardProvider.tsx
  frontend/src/features/workspace/components/DuplicateFormModal/DupeFormWizardProvider.tsx
  frontend/src/features/workspace/mutations.ts
  shared/types/form/form.ts
  src/app/modules/form/admin-form/admin-form.utils.ts
Due: eslint --fix

chore: bump version to v6.97.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix: formendpage missing context provider
  frontend/src/features/public-form/components/FormEndPage/FormEndPage.stories.tsx
  frontend/src/features/public-form/components/FormLogo/PublicFormLogo.stories.tsx
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.stories.tsx
Due: none

fix: formendpage missing context provider (#6989)
  frontend/src/features/public-form/components/FormEndPage/FormEndPage.stories.tsx
  frontend/src/features/public-form/components/FormLogo/PublicFormLogo.stories.tsx
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.stories.tsx
Due: none

fix(deps): upgrade axios and twilio in all packages
  frontend/package-lock.json
  package-lock.json
  package.json
  serverless/virus-scanner/package-lock.json
  serverless/virus-scanner/package.json
Due: none

fix: replace bson-ext with bson
  src/app/models/__tests__/multirespondent-submission.server.model.spec.ts
  src/app/modules/submission/multirespondent-submission/__tests__/multirespondent-submission.utils.spec.ts
Due: eslint --fix

Revert "chore: update hosting port from 5000 to 5001 for playwright"
  __tests__/setup/.test-env
  playwright.config.ts
  src/app/config/schema.ts
Due: eslint --fix

fix: remove comment
  src/app/models/form.server.model.ts
Due: eslint --fix

fix(deps): [Snyk] Security upgrade axios from 1.6.2 to 1.6.3 (#6983)
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
  serverless/virus-scanner/package-lock.json
  serverless/virus-scanner/package.json
Due: none

feat(mrf): add static workflow routing (#6968)
  frontend/src/assets/icons/MultiParty.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/queries.ts
  frontend/src/features/admin-form/settings/SettingsPage.tsx
  frontend/src/features/admin-form/settings/SettingsService.ts
  frontend/src/features/admin-form/settings/SettingsWorkflowPage.tsx
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowUnsupportedMsg.tsx
  frontend/src/features/admin-form/settings/mutations.ts
  shared/constants/form.ts
  shared/types/form/form.ts
  shared/types/submission.ts
  src/app/models/__tests__/multirespondent-submission.server.model.spec.ts
  src/app/models/__tests__/submission.server.model.spec.ts
  src/app/models/form.server.model.ts
  src/app/models/submission.server.model.ts
  src/app/modules/form/admin-form/admin-form.middlewares.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.controller.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.middleware.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.types.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.utils.ts
  src/app/modules/submission/receiver/receiver.types.ts
  src/app/services/mail/mail.constants.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
  src/app/services/mail/mail.utils.ts
  src/app/views/templates/mrf-workflow-email.view.html
  src/types/api/multirespondent_submission.ts
  src/types/form.ts
  src/types/submission.ts
Due: eslint --fix, htmlhint, prettier --write

chore: bump version to v6.98.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix(mrf): individual response page
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/processDecryptedContent.ts
Due: none

fix: workspace spec, exists returning null and doc instead of boolean
  src/app/models/__tests__/workspace.server.model.spec.ts
Due: eslint --fix

fix(mrf): individual response page (#6992)
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/processDecryptedContent.ts
Due: none

fix: add polyfill for Object.FromEntries
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
Due: none

chore: remove commented code
  src/app/models/form.server.model.ts
Due: eslint --fix

chore: remove confusing statement
  src/app/models/field/tableField.ts
Due: eslint --fix

chore: remove unneeded comments
  src/app/routes/api/v3/admin/forms/__tests__/admin-forms.submissions.routes.spec.ts
Due: eslint --fix

fix(mrf): loading checkbox response, ui fixes
  frontend/src/assets/icons/MultiParty.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/templates/Field/Checkbox/CheckboxField.tsx
Due: none

fix: add polyfill for Object.FromEntries (#6996)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
Due: none

chore: remove duplicated typedef
  src/types/form_logic.ts
Due: eslint --fix

fix: move polyfills to separate file
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
  frontend/src/index.tsx
  frontend/src/polyfills.js
Due: none

fix: add name parameter back for a11y
  frontend/src/templates/Field/Checkbox/CheckboxField.tsx
Due: none

Revert "chore: remove duplicated typedef"
  src/types/form_logic.ts
Due: eslint --fix

fix: remove check for Object.fromEntries
  frontend/src/polyfills.js
  frontend/src/polyfills.ts
Due: none

fix: move polyfills to separate file (#6998)
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
  frontend/src/index.tsx
  frontend/src/polyfills.ts
Due: none

fix(mrf): loading checkbox response, ui fixes (#6997)
  frontend/src/assets/icons/MultiParty.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/templates/Field/Checkbox/CheckboxField.tsx
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
