Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

chore: expose public jwks endpoint
  .template-env
  docker-compose.yml
  src/app/config/features/spcp-myinfo.config.ts
  src/app/loaders/express/index.ts
  src/app/routes/singpass/index.ts
  src/app/routes/singpass/sp.oidc.jwks.routes.ts
  tests/.test-env
  tests/certs/test_rp_public_jwks.json
Due: eslint --fix

chore: add test for jwks endpoint
  src/app/modules/spcp/__tests__/spcp.test.constants.ts
  src/app/routes/singpass/__tests__/sp.oidc.jwks.routes.spec.ts
Due: eslint --fix

feat: store prefill in frontend for spcp/myinfo forms, enable prefill for SGID forms (#3920)
  package-lock.json
  package.json
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/sgid/__tests__/sgid.service.spec.ts
  src/app/modules/sgid/sgid.controller.ts
  src/app/modules/sgid/sgid.service.ts
  src/public/main.js
  src/public/modules/forms/base/controllers/submit-form.client.controller.js
  src/public/modules/forms/base/directives/submit-form.directive.js
Due: eslint --fix

chore: expose public jwks endpoint (#4071)
  .template-env
  docker-compose.yml
  src/app/config/features/spcp-myinfo.config.ts
  src/app/loaders/express/index.ts
  src/app/modules/spcp/__tests__/spcp.test.constants.ts
  src/app/routes/singpass/__tests__/sp.oidc.jwks.routes.spec.ts
  src/app/routes/singpass/index.ts
  src/app/routes/singpass/sp.oidc.jwks.routes.ts
  tests/.test-env
  tests/certs/test_rp_public_jwks.json
Due: eslint --fix

chore: bump version to 5.63.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

update: number of bcrypt salt rounds for otp and myinfo hashing
  shared/utils/verification.ts
  src/app/modules/myinfo/myinfo.util.ts
  src/app/utils/otp.ts
Due: eslint --fix

refactor: loginCount sum in BillCharges
  frontend/src/features/user/billing/BillCharges/BillCharges.tsx
Due: none

refactor: searchbar component props and stories, string to daterange conversion validation
  frontend/src/components/Searchbar/Searchbar.stories.tsx
  frontend/src/components/Searchbar/Searchbar.tsx
  frontend/src/features/user/billing/BillCharges/components/BillingTable.tsx
  frontend/src/features/user/billing/BillingPage.stories.tsx
  frontend/src/features/user/billing/DateRange.ts
Due: none

chore: remove warning in daterange.ts
  frontend/src/features/user/billing/DateRange.ts
Due: none

Revert "fix(deps): bump @opengovsg/sgid-client from 0.0.12 to 1.0.3 (#3905)"
  package-lock.json
  package.json
  src/app/config/features/sgid.config.ts
  src/app/modules/sgid/__tests__/sgid.service.spec.ts
  src/app/modules/sgid/sgid.service.ts
  src/app/modules/spcp/spcp.util.ts
  src/types/config.ts
Due: eslint --fix

chore: fix typing
  src/app/modules/spcp/spcp.util.ts
Due: eslint --fix

chore: correct local key filenames
  docker-compose.yml
Due: none

chore: bump version to 5.63.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

update: number of bcrypt salt rounds for otp and myinfo hashing (#4075)
  shared/utils/verification.ts
  src/app/modules/myinfo/myinfo.util.ts
  src/app/utils/otp.ts
Due: eslint --fix

feat: add new feedback api route
  shared/types/form/form_feedback.ts
  src/app/models/form_feedback.server.model.ts
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/feedback/feedback.service.ts
  src/app/modules/form/public-form/public-form.service.ts
  src/app/modules/submission/submission.service.ts
  src/app/routes/api/v3/forms/public-forms.routes.ts
  src/app/routes/api/v3/forms/public-forms.submissions.feedback.routes.ts
Due: eslint --fix

feat: add tests for services
  src/app/modules/feedback/__tests__/feedback.service.spec.ts
  src/app/modules/submission/__tests__/submission/submission.service.spec.ts
Due: eslint --fix

feat: add test for new feedback endpoint
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.feedback.routes.spec.ts
  tests/unit/backend/helpers/jest-db.ts
Due: eslint --fix

refactor: feedback controller submitFormFeedbackV2
  src/app/modules/feedback/__tests__/feedback.service.spec.ts
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/feedback/feedback.error.ts
  src/app/modules/feedback/feedback.service.ts
  src/app/modules/feedback/feedback.util.ts
  src/app/modules/submission/__tests__/submission/submission.service.spec.ts
  src/app/modules/submission/submission.service.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.feedback.routes.spec.ts
Due: eslint --fix

fix: update according to PR comments
  shared/types/form/form_feedback.ts
  src/app/models/form_feedback.server.model.ts
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/feedback/feedback.error.ts
  src/app/modules/feedback/feedback.service.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/submission/__tests__/submission/submission.service.spec.ts
  src/app/modules/submission/submission.service.ts
Due: eslint --fix

fix: update failing FE tests
  src/public/services/__tests__/FormFeedbackService.spec.ts
Due: eslint --fix

refactor: rename formSubmissionId to submissionId
  shared/types/form/form_feedback.ts
  src/app/models/form_feedback.server.model.ts
  src/app/modules/feedback/__tests__/feedback.service.spec.ts
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/feedback/feedback.service.ts
  src/app/modules/form/public-form/public-form.service.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.feedback.routes.spec.ts
  tests/unit/backend/helpers/jest-db.ts
Due: eslint --fix

feat: link Angular FE to new feedback endpoint
  src/public/modules/forms/base/components/feedback-form.client.component.js
  src/public/modules/forms/base/directiveViews/submit-form.directive.view.html
  src/public/services/FormFeedbackService.ts
Due: eslint --fix, htmlhint, prettier --write

refactor: feedback controller
  src/app/modules/feedback/feedback.controller.ts
Due: eslint --fix

refactor: feedback controller log meta
  src/app/modules/feedback/feedback.controller.ts
Due: eslint --fix

fix: update error status code duplicate feedback
  src/app/modules/feedback/feedback.controller.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.feedback.routes.spec.ts
  src/app/routes/api/v3/forms/public-forms.submissions.feedback.routes.ts
Due: eslint --fix

refactor: move submission.feedback.routes tests to feedback.routes
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.submissions.feedback.routes.spec.ts
Due: eslint --fix

chore: update TODO comments to link issue number
  src/app/models/form_feedback.server.model.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
  src/app/routes/api/v3/forms/public-forms.routes.ts
Due: eslint --fix

fix: remove unecessary formId field in hasNoPreviousFeedback
  src/app/modules/feedback/__tests__/feedback.service.spec.ts
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/feedback/feedback.service.ts
Due: eslint --fix

fix: update feedback related error messages
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/feedback/feedback.errors.ts
  src/app/modules/feedback/feedback.util.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
Due: eslint --fix

fix: update FormFeedbackBase submissionId field to optional
  shared/types/form/form_feedback.ts
Due: none

chore: add TODO comments linking to issue #3964
  src/app/modules/feedback/feedback.controller.ts
  src/app/modules/form/public-form/public-form.controller.ts
Due: eslint --fix

chore: add TODO comments for feedback tests
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
Due: eslint --fix

refactor: update feedback model index syntax
  src/app/models/form_feedback.server.model.ts
Due: eslint --fix

refactor: rename feedback.error file and some constants
  src/app/modules/feedback/__tests__/feedback.service.spec.ts
  src/app/modules/feedback/feedback.errors.ts
  src/app/modules/feedback/feedback.service.ts
  src/app/modules/feedback/feedback.util.ts
  src/app/modules/submission/__tests__/submission/submission.service.spec.ts
  src/app/modules/submission/submission.service.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
  tests/unit/backend/helpers/jest-db.ts
Due: eslint --fix

refactor: form feedback tests to merge into one describe route
  src/app/routes/api/v3/forms/__tests__/public-forms.feedback.routes.spec.ts
Due: eslint --fix

refactor: move submissions.feedback route to feedback route
  src/app/routes/api/v3/forms/public-forms.feedback.routes.ts
  src/app/routes/api/v3/forms/public-forms.routes.ts
  src/app/routes/api/v3/forms/public-forms.submissions.feedback.routes.ts
Due: eslint --fix

fix: update log message for form feedback submission
  src/app/modules/feedback/feedback.controller.ts
Due: eslint --fix
