Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

chore: add react router
  src/app/loaders/express/index.ts
  src/app/modules/frontend-new/frontend.controller.ts
  src/app/modules/frontend-new/frontend.routes.ts
Due: eslint --fix

chore: update node options for build step
  .github/workflows/ci.yml
Due: none

chore: remove more conditional code in angular, backend types
  shared/types/env.ts
  shared/types/index.ts
  src/public/main.js
  src/public/modules/forms/admin/controllers/list-forms.client.controller.js
  src/public/modules/forms/base/controllers/submit-form.client.controller.js
Due: eslint --fix

chore: remove angular public route
  src/app/loaders/express/index.ts
Due: eslint --fix

chore: delete home folder, rename frontend to frontend-old and frontend-new to frontend
  src/app/loaders/express/index.ts
  src/app/modules/frontend-new/frontend.controller.ts
  src/app/modules/frontend-new/frontend.routes.ts
  src/app/modules/frontend-old/__tests__/frontend.controller.spec.ts
  src/app/modules/frontend-old/frontend.controller.ts
  src/app/modules/frontend-old/frontend.middlewares.ts
  src/app/modules/frontend-old/frontend.routes.ts
  src/app/modules/frontend-old/frontend.service.ts
  src/app/modules/frontend/frontend.controller.ts
  src/app/modules/frontend/frontend.routes.ts
  src/app/modules/home/__tests__/home.controller.spec.ts
  src/app/modules/home/home.controller.ts
  src/app/modules/home/home.routes.ts
  src/app/routes/api/v3/client/client.routes.ts
Due: eslint --fix

fix: return undefined in default cases
  src/app/modules/sgid/sgid.adapter.ts
Due: eslint --fix

fix: do not show any payment modal in preview
  frontend/src/features/public-form/components/FormFields/PublicFormSubmitButton.tsx
Due: none

fix: sgID validation of forms
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/sgid/__tests__/sgid.service.spec.ts
  src/app/modules/sgid/sgid.service.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
Due: eslint --fix

fix: sgID submission tests
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.routes.spec.ts
Due: eslint --fix

fix: email submission route tests
  src/app/modules/submission/email-submission/__tests__/email-submission.routes.spec.ts
Due: eslint --fix

chore: revert ci to node 14
  .github/workflows/ci.yml
Due: none

fix: disable payment resume and duplicate modals in preview (#6334)
  frontend/src/features/admin-form/preview/PreviewFormPage.tsx
  frontend/src/features/admin-form/preview/PreviewFormProvider.tsx
  frontend/src/features/admin-form/template/TemplateFormPage.tsx
  frontend/src/features/admin-form/template/TemplateFormProvider.tsx
  frontend/src/features/public-form/PublicFormContext.tsx
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/features/public-form/components/FormEndPage/FormEndPageContainer.tsx
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
  frontend/src/features/public-form/components/FormFields/PublicFormSubmitButton.tsx
  frontend/src/features/public-form/components/FormPaymentPage/FormPaymentResumeModal.tsx
Due: none

chore: remove support for legacy stripe metadata (#6264)
  src/app/modules/payments/stripe.utils.ts
Due: eslint --fix

fix: rm white box for payment preview when disabled
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/PaymentView.tsx
  frontend/src/features/public-form/components/FormFields/FormFields.tsx
Due: none

fix: paymentPreview must define paymentDetails
  frontend/src/templates/Field/PaymentPreview/PaymentPreview.tsx
Due: none

test: add check to ensure that timezone-mock works
  frontend/src/utils/date.test.ts
Due: none

fix: rm white box for payment preview when disabled (#6342)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/PaymentView.tsx
  frontend/src/features/public-form/components/FormFields/FormFields.tsx
  frontend/src/templates/Field/PaymentPreview/PaymentPreview.tsx
Due: none

feat: split sgID auth and sgID MyInfo
  shared/types/form/form.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/sgid/__tests__/sgid.service.spec.ts
  src/app/modules/sgid/__tests__/sgid.test.constants.ts
  src/app/modules/sgid/sgid.controller.ts
  src/app/modules/sgid/sgid.service.ts
  src/app/modules/sgid/sgid.types.ts
  src/app/modules/sgid/sgid.util.ts
  src/app/modules/submission/email-submission/ParsedResponsesObject.class.ts
  src/app/modules/submission/email-submission/__tests__/email-submission.routes.spec.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
  src/app/modules/submission/encrypt-submission/__tests__/encrypt-submission.routes.spec.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
Due: eslint --fix

fix: rename functions
  src/app/modules/sgid/sgid.types.ts
  src/app/modules/verification/verification.controller.ts
Due: eslint --fix

fix: tests, add SGID_MyInfo form filling
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/sgid/__tests__/sgid.controller.spec.ts
Due: eslint --fix

feat: backend submissions and logout done
  src/app/models/form.server.model.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/form/public-form/public-form.service.ts
  src/app/modules/sgid/sgid.controller.ts
  src/app/modules/sgid/sgid.util.ts
  src/app/modules/submission/email-submission/email-submission.controller.ts
Due: eslint --fix

fix: sgID routes tests
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/sgIDPanel.tsx
Due: none

fix: actually fix sgID routes tests
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/sgIDPanel.tsx
  src/app/modules/sgid/__tests__/sgid.routes.spec.ts
Due: eslint --fix

fix: verification controller tests
  src/app/modules/verification/__tests__/verification.controller.spec.ts
Due: eslint --fix

test: update playwright web server health check url
  playwright.config.ts
Due: none

chore: update .test-env path for playwright tests
  package.json
  playwright.config.ts
Due: none

test: add missing dependent function to mock webhook server
  __tests__/setup/mock-webhook-server.js
Due: none

feat: add sample-submission endpoint to retrieve sample submission data of a public form (#6325)
  src/app/modules/form/form.service.ts
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/routes/api/v3/forms/__tests__/public-forms.form.routes.spec.ts
  src/app/routes/api/v3/forms/public-forms.form.routes.ts
Due: eslint --fix

chore: bump version to v6.50.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

feat: navigate to specific tabs on settings page
  frontend/src/app/AppRouter.tsx
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

feat: redirect admins to payment settings after stripe connection
  src/app/modules/payments/stripe.controller.ts
  src/app/modules/payments/stripe.service.ts
Due: eslint --fix

feat: link payment input panel to payment settings
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel.tsx
Due: none

fix: env vars to determine payment copy to show
  frontend/src/features/admin-form/common/components/PreviewFormBanner/PreviewFormBanner.tsx
  frontend/src/features/public-form/components/FormPaymentPage/FormPaymentPage.tsx
  shared/types/core.ts
  src/app/loaders/express/locals.ts
  src/app/modules/frontend-old/frontend.service.ts
Due: eslint --fix

Address Shu Li's review
  src/app/modules/form/public-form/public-form.controller.ts
  src/app/modules/sgid/sgid.constants.ts
  src/app/modules/sgid/sgid.controller.ts
  src/app/modules/submission/encrypt-submission/encrypt-submission.controller.ts
  src/app/modules/verification/__tests__/verification.controller.spec.ts
  src/app/modules/verification/verification.controller.ts
Due: eslint --fix

chore: delete old frontend webpack, references to old frontend directory
  .github/workflows/ci.yml
  README.md
  __tests__/unit/frontend/.eslintrc
  __tests__/unit/frontend/forms/helpers/CsvMergedHeadersGenerator.test.js
  __tests__/unit/frontend/helpers/mockFile.ts
  __tests__/unit/frontend/jest.config.js
  docs/ARCHITECTURE.md
  jest.config.js
  package.json
  src/app/loaders/express/index.ts
  src/app/modules/frontend/frontend.controller.ts
  src/app/modules/frontend/frontend.service.ts
  src/app/routes/api/v3/client/client.routes.ts
  src/app/views/index.server.view.html
  ts-loader-config.json
  tsconfig.build.json
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: eslint --fix, htmlhint, prettier --write

chore: remove stylelint dependency
  .npmrc
  .sentryignore
  .stylelintrc.js
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

fix: log unexpected DB error when saving email bounces
  src/app/modules/bounce/bounce.service.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
