Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

chore(frm-1599): update multiparty create form modal icon
  frontend/src/assets/icons/MultiParty.tsx
  frontend/src/assets/icons/index.ts
  frontend/src/features/workspace/components/CreateFormModal/CreateFormModalContent/FormResponseOptions.tsx
Due: none

fix: typing issues
  frontend/src/features/admin-form/responses/ResponsesPage/storage/worker/decryption.worker.ts
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/mutations.ts
Due: none

feat: append key in response link
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
Due: none

refactor: extract iskeypairvalid to fe utils
  frontend/src/components/SecretKeyVerificationInput/SecretKeyVerificationInput.tsx
  frontend/src/features/admin-form/settings/components/SecretKeyActivationModal.tsx
  frontend/src/utils/secretKeyValidation.ts
Due: none

feat: add prefilling of key
  frontend/src/components/SecretKeyVerificationInput/SecretKeyVerificationInput.tsx
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
Due: none

feat: add auto decryption if key is correct
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
Due: none

fix: remove unused import
  frontend/src/features/public-form/mutations.ts
Due: none

fix: update joi validator to array
  src/app/modules/form/admin-form/admin-form.controller.ts
Due: eslint --fix

fix: column cell not respecting disable required validation
  frontend/src/templates/Field/Table/ColumnCell.tsx
Due: none

fix: mislabelled test name
  src/app/models/__tests__/multirespondent-submission.server.model.spec.ts
Due: eslint --fix

feat: add workflow emails to form
  frontend/src/assets/icons/Multiparty.tsx
  frontend/src/features/admin-form/settings/SettingsPage.tsx
  frontend/src/features/admin-form/settings/SettingsService.ts
  frontend/src/features/admin-form/settings/SettingsWorkflowPage.tsx
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowSettingsSection.tsx
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowUnsupportedMsg.tsx
  frontend/src/features/admin-form/settings/mutations.ts
  shared/constants/form.ts
  shared/types/form/form.ts
  src/app/models/form.server.model.ts
  src/app/modules/form/admin-form/admin-form.middlewares.ts
  src/types/form.ts
Due: eslint --fix

feat: add workflow run to multirespondent form processing
  src/app/models/form.server.model.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.controller.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.middleware.ts
  src/app/services/mail/mail.constants.ts
  src/app/services/mail/mail.service.ts
  src/app/services/mail/mail.types.ts
  src/app/services/mail/mail.utils.ts
  src/app/views/templates/mrf-workflow-email.view.html
  src/types/api/multirespondent_submission.ts
Due: eslint --fix, htmlhint, prettier --write

feat: add error state for invalid emails in frontend workflow settings
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.controller.ts
Due: eslint --fix

feat: use featureflag to conditionally render workflow icon
  frontend/src/assets/icons/Multiparty.tsx
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

fix: add placeholder text to input
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
Due: none

fix: remove multiparty icon
  frontend/src/assets/icons/MultiParty.tsx
  frontend/src/assets/icons/Multiparty.tsx
Due: none

fix: add multiparty icon
  frontend/src/assets/icons/MultiParty.tsx
Due: none

fix: run next workflow step instead of current workflow
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.controller.ts
Due: eslint --fix

fix: model ux issue when admin without mrf flag creates new form
  frontend/src/features/workspace/components/CreateFormModal/CreateFormModalContent/CreateFormDetailsScreen.tsx
  frontend/src/features/workspace/components/CreateFormModal/CreateFormModalContent/FormResponseOptions.tsx
Due: none

removing formId from FeedbackBlock page
  frontend/src/features/public-form/components/FormEndPage/components/FeedbackBlock.tsx
Due: none

refactor: extract key into getmultirespondentsubmissioneditpath utils
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  shared/utils/urls.ts
Due: none

feat(mrf): response link with key (#6967)
  frontend/src/components/SecretKeyVerificationInput/SecretKeyVerificationInput.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponsePage.tsx
  frontend/src/features/admin-form/settings/components/SecretKeyActivationModal.tsx
  frontend/src/features/public-form/components/FormFields/FormFieldsContainer.tsx
  frontend/src/utils/secretKeyValidation.ts
  shared/utils/urls.ts
Due: none

test: add workflowStep to form schema
  src/app/models/__tests__/multirespondent-submission.server.model.spec.ts
  src/app/models/__tests__/submission.server.model.spec.ts
Due: eslint --fix

ref: check for responsemode once
  frontend/src/features/admin-form/settings/SettingsPage.tsx
  frontend/src/features/admin-form/settings/SettingsWorkflowPage.tsx
Due: none

fix: use strokeWidth in svg
  frontend/src/assets/icons/MultiParty.tsx
Due: none

fix: reset error state
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
Due: none

ref: remove unused component and simplify if condition
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowSettingsSection.tsx
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.controller.ts
Due: eslint --fix

fix: remove console.log
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.controller.ts
Due: eslint --fix

feat: Payments thank you page (#6961)
  frontend/src/features/public-form/components/FormEndPage/components/FeedbackBlock.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/PaymentStack.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/assets/PaymentSuccessSvgr.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/StripeReceiptContainer.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
Due: none

Revert "feat: Payments thank you page (#6961)"
  frontend/src/features/public-form/components/FormEndPage/components/FeedbackBlock.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/PaymentStack.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/assets/PaymentSuccessSvgr.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/StripeReceiptContainer.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
Due: none

revert: "feat: Payments thank you page" (#6973)
  frontend/src/features/public-form/components/FormEndPage/components/FeedbackBlock.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/PaymentStack.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/assets/PaymentSuccessSvgr.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/StripeReceiptContainer.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/components/DownloadReceiptBlock.tsx
Due: none

chore: bump version to v6.96.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix: use react-hook-form for workflow details
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
Due: none

fix: remove duplicate body version
  src/app/modules/submission/receiver/receiver.types.ts
Due: eslint --fix

fix: add background color to StripePaymentElement
  frontend/src/features/public-form/components/FormPaymentPage/components/PaymentStack.tsx
  frontend/src/features/public-form/components/FormPaymentPage/stripe/StripeReceiptContainer.tsx
Due: none

fix: reorder workflow in settings page
  frontend/src/features/admin-form/settings/SettingsPage.tsx
Due: none

fix: copy changes
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
Due: none

fix: display previous workflow emails in settings
  frontend/src/features/admin-form/settings/components/WorkflowSettingsSection/WorkflowDetailsInput.tsx
Due: none

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
