Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

chore: bump version to v6.215.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

fix(i18n): use whole phrase, not words
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/IndividualResponsePage/IndividualResponseNavbar.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/UnlockedResponses/DownloadButton.tsx
  frontend/src/i18n/locales/features/admin-form/responses/individual-response/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/responses/individual-response/index.ts
  frontend/src/i18n/locales/features/admin-form/responses/responses-page/en-sg.ts
  frontend/src/i18n/locales/features/admin-form/responses/responses-page/index.ts
Due: none

feat: support intranet cidr entries
  __tests__/setup/mock-intranet-ips.txt
  package-lock.json
  package.json
  src/app/modules/intranet/__tests__/intranet.service.spec.ts
  src/app/modules/intranet/intranet.service.ts
Due: eslint --fix

fix: add ipv6 test case
  __tests__/setup/mock-intranet-ips.txt
  src/app/modules/intranet/__tests__/intranet.service.spec.ts
Due: eslint --fix

feat: support intranet cidr entries (#8536)
  __tests__/setup/mock-intranet-ips.txt
  package-lock.json
  package.json
  src/app/modules/intranet/__tests__/intranet.service.spec.ts
  src/app/modules/intranet/intranet.service.ts
Due: eslint --fix

included perfect free-hand for experimenting
  frontend/src/templates/Field/Signature/SignatureField.tsx
  package-lock.json
  package.json
Due: none

chore(docs): delete c4-model diagrams
  docs/c4-model/containers.json
  docs/c4-model/context.json
Due: none

Update admin-feedback.service.ts
  src/app/modules/admin-feedback/admin-feedback.service.ts
Due: eslint --fix

checkpoint for using perfect-freehand over sireact-signature
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

connect output to schema values to be passed when handleFormSubmit
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

remove -signature from formInputs through controller name schema
  frontend/src/features/public-form/PublicFormProvider.tsx
  frontend/src/templates/Field/Signature/SignatureField.tsx
  src/app/modules/submission/submission.utils.ts
Due: eslint --fix

input transform signatures FE output for BE processing
  frontend/src/features/public-form/utils/inputTransformation.ts
  frontend/src/templates/Field/Signature/SignatureField.tsx
Due: none

added signature types for FE validation
  frontend/src/features/public-form/utils/createSubmission.ts
  shared/types/response.ts
Due: none

chore: add vapt virus-scanner
  .github/workflows/deploy-virus-scanner-guardduty-vapt.yml
Due: none

chore: use 0 concurrency
  .github/workflows/deploy-virus-scanner-guardduty-vapt.yml
Due: none

chore: fix deployment failure
  .github/workflows/deploy-virus-scanner-guardduty-vapt.yml
  serverless/virus-scanner-guardduty/src/config.ts
Due: none

include signatures as a valid submission field, submissions made successfully
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/public-form/utils/inputTransformation.ts
  frontend/src/features/public-form/utils/validateResponses.ts
  shared/types/response.ts
  src/app/modules/submission/ParsedResponsesObject.class.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/modules/submission/submission.types.ts
  src/app/utils/field-validation/answerValidator.factory.ts
  src/app/utils/field-validation/field-validation.guards.ts
  src/app/utils/field-validation/index.ts
  src/app/utils/field-validation/validators/signatureValidator.ts
  src/types/field/index.ts
Due: eslint --fix

fix: cors on gb
  src/app/loaders/express/constants.ts
Due: eslint --fix

chore: debug gb on BE
  src/app/loaders/express/growthbook.ts
Due: eslint --fix

fix: use override on gb proxy url
  src/app/loaders/express/growthbook.ts
Due: eslint --fix

display signatures output as image on individualresponse page
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  src/app/modules/submission/ParsedResponsesObject.class.ts
Due: eslint --fix

refactored vectorarray to be stringified when saved in DB
  frontend/src/features/public-form/utils/inputTransformation.ts
  shared/types/response.ts
  shared/utils/signature.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/utils/field-validation/field-validation.guards.ts
  src/app/utils/field-validation/validators/signatureValidator.ts
Due: eslint --fix

refactor individualresponsepage with signature string input
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
Due: none

enable signature field for mrf submission and individual response display
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/processDecryptedContent.ts
  frontend/src/features/public-form/utils/createSubmission.ts
  frontend/src/features/public-form/utils/inputTransformation.ts
  frontend/src/templates/Field/Signature/SignatureField.tsx
  frontend/src/templates/Field/types.ts
  shared/types/response-v3.ts
  src/app/modules/submission/multirespondent-submission/multirespondent-submission.middleware.ts
  src/app/utils/field-validation/answerValidator.factory.ts
  src/app/utils/field-validation/index.ts
  src/app/utils/field-validation/validators/signatureValidator.ts
Due: eslint --fix

chore: bump version to v6.216.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore(docs): v22 lts instead of 18
  docs/01_QUICKSTART.md
Due: none

chore(docs): deployment setup fixes
  docs/02_DEPLOYMENT_SETUP.md
Due: none

chore(docs): no EFS blurb
  docs/02_DEPLOYMENT_SETUP.md
Due: none

chore(docs): remove google analytics
  docs/03_CONFIGURATION.md
Due: none

resolve mrf display output & rehydration of field
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/admin-form/responses/ResponsesPage/storage/utils/processDecryptedContent.ts
  frontend/src/features/public-form/utils/createSubmission.ts
  frontend/src/features/public-form/utils/decryptSubmission.ts
  frontend/src/templates/Field/Signature/SignatureField.tsx
  shared/utils/signature.ts
  src/app/utils/field-validation/field-validation.guards.ts
Due: eslint --fix

chore(docs): more adjustments on config
  docs/03_CONFIGURATION.md
Due: none

chore(docs): 06 and 07 comments
  docs/06_SECURITY.md
  docs/07_MASTHEAD.md
Due: none

feat: make logs consistent for email type and add bounceSubType
  src/app/modules/bounce/__tests__/bounce-test-helpers.ts
  src/app/modules/bounce/__tests__/bounce.model.spec.ts
  src/app/modules/bounce/__tests__/bounce.service.spec.ts
  src/app/modules/bounce/bounce.model.ts
  src/app/modules/bounce/bounce.service.ts
  src/types/bounce.ts
Due: eslint --fix

resolve responses to include signature type in answerArray
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/public-form/utils/inputTransformation.ts
  shared/types/response.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/utils/field-validation/field-validation.guards.ts
Due: eslint --fix

added signature type to mrf output + resolved rehydration of signature image
  frontend/src/features/admin-form/responses/IndividualResponsePage/DecryptedRow.tsx
  frontend/src/features/public-form/utils/createSubmission.ts
  frontend/src/features/public-form/utils/decryptSubmission.ts
  frontend/src/templates/Field/Signature/SignatureField.tsx
  shared/types/response-v3.ts
  src/app/utils/response-v3.ts
Due: eslint --fix

update email notification to display signature field image, [signature] prefix in email body and json
  shared/utils/signature.ts
  src/app/modules/submission/email-submission/email-submission.constants.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/services/mail/mail.utils.ts
  src/app/views/templates/submit-form-email.server.view.html
Due: eslint --fix, htmlhint, prettier --write

resolved respondent copy signature output + defauly json response to blank for now
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/services/mail/mail.utils.ts
  src/app/utils/field-validation/field-validation.guards.ts
  src/app/views/templates/submit-form-summary-pdf.server.view.html
  src/types/email_mode_data.ts
Due: eslint --fix, htmlhint, prettier --write

feat(i18n): number validation hook
  frontend/src/i18n/locales/en-sg.ts
  frontend/src/i18n/locales/types.ts
  frontend/src/i18n/locales/utils/field-validation/en-sg.ts
  frontend/src/i18n/locales/utils/field-validation/index.ts
  frontend/src/i18n/locales/utils/index.ts
  frontend/src/templates/Field/Number/NumberField.tsx
  frontend/src/utils/fieldValidation.ts
Due: none
