Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

fix: payment type not disabled when form is not in encryptmode
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/PaymentsInputPanel.tsx
Due: none

Do not show presub feedback button once form is submitted
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackButton.tsx
Due: none

fix: payment validator not handling undefined monetary values
  frontend/src/hooks/usePaymentFieldValidation.ts
Due: none

feat: add placeholder preview for payment preview when in build and create mode
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/PaymentView.tsx
Due: none

fix: mishandling stripe callback when user clicks return to form (#6522)
  src/app/modules/payments/__tests__/stripe.controller.spec.ts
  src/app/modules/payments/stripe.controller.ts
Due: eslint --fix

fix: test for forward and backward slashes in url tokens
  src/app/loaders/express/error-handler.ts
Due: eslint --fix

update as according to design requirement
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackPage.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackSkeleton.tsx
Due: none

change button to icon button in mobile view for export
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackDownloadButton.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackPage.tsx
Due: none

fix: remove description on paymentpreview
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/PaymentView.tsx
Due: none

fix: disallow path traversal when proxying static assets (#6513)
  src/app/loaders/express/error-handler.ts
Due: eslint --fix

feat: issue feedback post api service (#6492)
  src/app/modules/issue/__tests__/issue.controller.spec.ts
  src/app/modules/issue/__tests__/issue.util.spec.ts
  src/app/modules/issue/issue.controller.ts
  src/app/modules/issue/issue.util.ts
  src/app/routes/api/v3/forms/public-forms.issue.routes.ts
  src/app/routes/api/v3/forms/public-forms.routes.ts
Due: eslint --fix

feat: issue feedback admin page (#6517)
  frontend/src/features/admin-form/AdminFormResultsFeedbackPage.stories.tsx
  frontend/src/features/admin-form/common/mutations.ts
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackDownloadButton.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackPage.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackSkeleton.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/FeedbackTable.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/issue/IssueService.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/issue/IssueTable.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/review/ReviewService.ts
  frontend/src/features/admin-form/responses/FeedbackPage/review/ReviewTable.tsx
  frontend/src/features/admin-form/responses/FeedbackPage/utils/IssueCsvGenerator.ts
  frontend/src/features/admin-form/responses/queries.ts
  frontend/src/mocks/msw/handlers/admin-form/index.ts
  frontend/src/mocks/msw/handlers/admin-form/issue.ts
Due: none

chore: variable payments UI review changes (#6524)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/PaymentView.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/FixedPaymentAmountField.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/PaymentsInputPanel.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/PaymentsInputPanel/VariablePaymentAmountField.tsx
  frontend/src/features/public-form/components/FormPaymentPage/components/PaymentItemNameDescription.tsx
  frontend/src/hooks/usePaymentFieldValidation.ts
  src/app/modules/form/admin-form/admin-form.payments.controller.ts
Due: eslint --fix

feat: Create issue feedback UI on public form interface (#6452)
  frontend/src/features/admin-form/preview/PreviewFormPage.tsx
  frontend/src/features/public-form/PublicFormPage.tsx
  frontend/src/features/public-form/PublicFormService.ts
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackButton.tsx
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackModal.stories.tsx
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackModal.tsx
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackService.ts
  frontend/src/features/public-form/components/FormIssueFeedback/index.tsx
  frontend/src/features/public-form/mutations.ts
  shared/types/form/form_issue.ts
  shared/types/form/index.ts
Due: none

fix: issue report icon for mobile
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackButton.tsx
Due: none

fix: issue report icon for mobile (#6527)
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackButton.tsx
Due: none

chore: bump version to v6.65.0
  CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: none

chore: bump myinfo-gov-client to 4.1.0
  package-lock.json
  package.json
Due: none

chore: bump myinfo-gov-client to 4.1.1
  package-lock.json
  package.json
Due: none

fix: add FE validation rule that email domains must be non empty if enabled
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditEmail/EditEmail.tsx
Due: none

uen code
  CREDITS.md
  shared/tsconfig.json
  shared/utils/uen-validation.ts
Due: none

first draft
  shared/utils/uen-validation.ts
Due: none

update
  shared/utils/uen-validation.ts
Due: none

fix: add FE validation rule that email domains must be non empty (#6529)
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditEmail/EditEmail.tsx
Due: none

fix: backend CI types and filter out name from selections
  frontend/src/features/admin-form/create/builder-and-design/constants.ts
  shared/constants/field/myinfo/index.ts
  shared/types/field/childrenCompoundField.ts
  src/app/modules/myinfo/myinfo.adapter.ts
  src/app/modules/myinfo/myinfo.util.ts
  src/app/modules/submission/email-submission/email-submission.util.ts
  src/app/modules/submission/submission.types.ts
  src/app/utils/field-validation/index.ts
  src/app/utils/field-validation/validators/childrenValidator.ts
  src/types/response/index.ts
Due: eslint --fix

chore: removed unused code
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditMyInfoChildren/EditMyInfoChildren.tsx
  frontend/src/templates/Field/ChildrenCompound/ChildrenCompoundField.tsx
Due: none

chore: remove more unused imports
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditMyInfoChildren/EditMyInfoChildren.tsx
Due: none

feat/presub-change-icon-to-help
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackButton.tsx
Due: none

feat: presub-change-icon-to-help (#6532)
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackButton.tsx
Due: none

fix: presub remove additional underscore
  src/app/views/templates/issue-reported-notification.view.html
Due: htmlhint, prettier --write

feat. UEN validator added
  shared/utils/helloworld.ts
  shared/utils/uen-validation.ts
Due: none

feat: updated uen validator based on stdnum, along with corresponding tests
  package.json
  shared/jest.config.js
  shared/package-lock.json
  shared/package.json
  shared/tsconfig.json
  shared/utils/__tests__/uen-validation.spec.ts
  shared/utils/helloworld.ts
Due: none

Update package.json
  package.json
Due: none

refactored code for better readability
  package.json
  shared/utils/__tests__/uen-validation.spec.ts
  shared/utils/uen-validation.ts
Due: none

fix: presub remove additional underscore (#6533)
  src/app/views/templates/issue-reported-notification.view.html
Due: htmlhint, prettier --write

removed gtm and gstatic from csp headers
  src/app/loaders/express/__tests__/helmet.spec.ts
Due: eslint --fix

feat: add description to form issue modal
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackModal.tsx
Due: none

update based on figma change
  frontend/src/features/public-form/components/FormIssueFeedback/FormIssueFeedbackModal.tsx
Due: none

fix: address design review
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/edit-fieldtype/EditMyInfoChildren/EditMyInfoChildren.tsx
  frontend/src/templates/Field/ChildrenCompound/ChildrenCompoundField.tsx
  shared/constants/field/myinfo/index.ts
Due: none

feat: add betaFlags.children
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/EditFieldDrawer/EditFieldDrawer.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignDrawer/FieldListDrawer/field-panels/MyInfoPanel.tsx
  frontend/src/features/admin-form/create/builder-and-design/constants.ts
  shared/types/user.ts
  src/app/models/user.server.model.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,tests}/**/*.{js,ts}
  htmlhint: any of: {src,tests}/**/*.html
  prettier --write: any of: {src,tests}/**/*.html
