Repository opengovsg/FormSG: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, htmlhint, prettier --write

.lintstagedrc.yml:

'{src,tests}/**/*.{js,ts}':
  - eslint --fix
'{src,tests}/**/*.html':
  - htmlhint
  - prettier --write

feat: add storybook for create workspace modal
  frontend/src/features/workspace/components/WorkspaceModals/CreateOrRenameWorkspaceModal.stories.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateOrRenameWorkspaceModal.tsx
Due: none

refactor: cleanup unused minLength validator in workspaceValidation
  frontend/src/utils/workspaceValidation.ts
Due: none

fix: remove confidential responses from email mode features in copy (#4502)
  src/public/modules/forms/admin/directiveViews/configure-form.client.view.html
Due: htmlhint, prettier --write

fix: remove duplicate adminRollout
  src/app/config/schema.ts
Due: eslint --fix

fix: fix stories
  frontend/src/features/admin-form/AdminFormResultsResponsesPage.stories.tsx
  frontend/src/features/admin-form/AdminFormSettingsPage.stories.tsx
  frontend/src/features/admin-form/create/featureTour/FeatureTour.stories.tsx
Due: none

fix: typo CilentCache > ClientCache
  src/app/modules/spcp/__tests__/spcp.oidc.client.cache.spec.ts
  src/app/modules/spcp/__tests__/spcp.oidc.client.spec.ts
  src/app/modules/spcp/spcp.oidc.client.cache.ts
  src/app/modules/spcp/spcp.oidc.client.ts
  src/app/modules/spcp/spcp.oidc.client.types.ts
Due: eslint --fix

feat(datadog): connect logs and traces (#4505)
  src/app/loaders/datadog-tracer.ts
Due: eslint --fix

feat(form-workspaces/2): add form workspaces modals (#4051)
  frontend/src/features/workspace/WorkspaceContent.tsx
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceEditDropdown.tsx
  frontend/src/features/workspace/components/WorkspaceHeader/WorkspaceHeader.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateWorkspaceModal.stories.tsx
  frontend/src/features/workspace/components/WorkspaceModals/CreateWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceModals/DeleteWorkspaceModal.stories.tsx
  frontend/src/features/workspace/components/WorkspaceModals/DeleteWorkspaceModal.tsx
  frontend/src/features/workspace/components/WorkspaceModals/RenameWorkspaceModal.stories.tsx
  frontend/src/features/workspace/components/WorkspaceModals/RenameWorkspaceModal.tsx
  frontend/src/utils/workspaceValidation.ts
Due: none

ref: explicitly map formInputs and feedbackForm
  frontend/src/features/env/EnvService.ts
  shared/types/env.ts
Due: none

ref: use RegExp for url pathnames
  frontend/src/features/env/mutations.ts
Due: none

feat: add hover states and onClick for start page and form instructions
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/StartPageView.tsx
  frontend/src/features/public-form/components/FormInstructions/FormInstructions.tsx
  frontend/src/features/public-form/components/FormStartPage/FormBannerLogo.tsx
  frontend/src/features/public-form/components/FormStartPage/FormHeader.tsx
  frontend/src/features/public-form/components/FormStartPage/FormStartPage.tsx
  frontend/src/features/public-form/components/FormStartPage/useFormHeader.tsx
Due: none

feat(form-v2): email/storage mode respondent rollout (#4432)
  src/app/config/schema.ts
  src/app/loaders/express/logging.ts
  src/app/modules/react-migration/react-migration.controller.ts
  src/types/config.ts
  src/types/form.ts
Due: eslint --fix

feat: update deleteWorkspace to return boolean instead of void
  src/app/models/workspace.server.model.ts
  src/app/modules/workspace/workspace.service.ts
  src/types/workspace.ts
Due: eslint --fix

fix: delete workspace transaction to update model instead of documents
  src/app/models/__tests__/workspace.server.model.spec.ts
  src/app/models/form.server.model.ts
  src/app/models/workspace.server.model.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/workspace/__tests__/workspace.controller.spec.ts
  src/app/modules/workspace/__tests__/workspace.routes.spec.ts
  src/app/modules/workspace/__tests__/workspace.service.spec.ts
  src/app/modules/workspace/workspace.controller.ts
  src/app/modules/workspace/workspace.service.ts
  src/types/form.ts
  src/types/workspace.ts
Due: eslint --fix

refactor: workspace service test to reduce db queries
  src/app/modules/workspace/__tests__/workspace.service.spec.ts
Due: eslint --fix

refactor: remove admin field from deleteWorkspace
  src/app/models/__tests__/workspace.server.model.spec.ts
  src/app/models/workspace.server.model.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/workspace/__tests__/workspace.controller.spec.ts
  src/app/modules/workspace/__tests__/workspace.routes.spec.ts
  src/app/modules/workspace/__tests__/workspace.service.spec.ts
  src/app/modules/workspace/workspace.controller.ts
  src/app/modules/workspace/workspace.service.ts
  src/types/workspace.ts
Due: eslint --fix

feat: add delete workspace functionality tests
  src/app/models/__tests__/workspace.server.model.spec.ts
  src/app/modules/workspace/__tests__/workspace.controller.spec.ts
  src/app/modules/workspace/__tests__/workspace.routes.spec.ts
  src/app/modules/workspace/__tests__/workspace.service.spec.ts
Due: eslint --fix

feat: add delete workspace functionality
  src/app/models/workspace.server.model.ts
  src/app/modules/workspace/workspace.controller.ts
  src/app/modules/workspace/workspace.service.ts
  src/app/routes/api/v3/admin/workspaces/workspaces.routes.ts
  src/types/workspace.ts
Due: eslint --fix

refactor: deleteWorkspace transaction to use mongoose withTransaction
  src/app/modules/workspace/workspace.service.ts
Due: eslint --fix

fix: use form document method to archive forms instead of static method
  src/app/models/form.server.model.ts
  src/app/modules/form/admin-form/admin-form.service.ts
  src/app/modules/form/form.service.ts
  src/app/modules/workspace/workspace.service.ts
  src/types/form.ts
Due: eslint --fix

fix: tests for deleteWorkspace functionality
  src/app/models/__tests__/workspace.server.model.spec.ts
  src/app/modules/workspace/__tests__/workspace.controller.spec.ts
  src/app/modules/workspace/__tests__/workspace.routes.spec.ts
  src/app/modules/workspace/__tests__/workspace.service.spec.ts
Due: eslint --fix

fix: move deleteWorkspace transaction logic to WorkspaceService
  src/app/models/form.server.model.ts
  src/app/models/workspace.server.model.ts
  src/app/modules/form/form.service.ts
  src/app/modules/workspace/workspace.service.ts
  src/types/form.ts
  src/types/workspace.ts
Due: eslint --fix

refactor: use object function argument for deleteWorkspace
  src/app/modules/workspace/__tests__/workspace.service.spec.ts
  src/app/modules/workspace/workspace.controller.ts
  src/app/modules/workspace/workspace.service.ts
  src/app/routes/api/v3/admin/workspaces/workspaces.routes.ts
Due: eslint --fix

feat: add tooltips for hidden fields.
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/BuilderFields.tsx
  frontend/src/features/admin-form/create/builder-and-design/BuilderAndDesignContent/FieldRow/FieldRowContainer.tsx
Due: none

fix: remove unused session parameter from form model archive method
  src/app/models/form.server.model.ts
  src/types/form.ts
Due: eslint --fix

fix: add new flag to deleteWorkspace findOneAndDelete
  src/app/models/workspace.server.model.ts
Due: eslint --fix

feat: add react-roving-tabindex package for taginput component
  frontend/package-lock.json
  frontend/package.json
Due: none

feat: add TagInput component with inlined styles
  frontend/src/components/TagInput/TagInput.stories.tsx
  frontend/src/components/TagInput/TagInput.tsx
  frontend/src/components/TagInput/TagInputInput.tsx
  frontend/src/components/TagInput/TagInputTag.tsx
Due: none

feat: add custom TagInput theme
  frontend/src/components/TagInput/TagInput.tsx
  frontend/src/components/TagInput/TagInputInput.tsx
  frontend/src/components/TagInput/TagInputTag.tsx
  frontend/src/theme/components/TagInput.ts
  frontend/src/theme/components/index.ts
Due: none

feat: add initial invalid, readonly, disabled states to subcomponents
  frontend/src/components/TagInput/TagInput.stories.tsx
  frontend/src/components/TagInput/TagInput.tsx
  frontend/src/components/TagInput/TagInputInput.tsx
  frontend/src/components/TagInput/TagInputTag.tsx
  frontend/src/theme/components/TagInput.ts
Due: none

feat: remove infobox when public form respondents hits threshold
  frontend/src/features/public-form/components/PublicFormWrapper.tsx
  shared/types/core.ts
  src/app/loaders/express/locals.ts
  src/public/utils/injectedVariables.ts
Due: eslint --fix

feat: remove infobox for admins
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
  shared/types/core.ts
  src/app/loaders/express/locals.ts
  src/public/utils/injectedVariables.ts
Due: eslint --fix

ref: change thresholds to constants
  frontend/src/features/public-form/components/PublicFormWrapper.tsx
  frontend/src/features/workspace/components/AdminSwitchEnvMessage.tsx
Due: none

feat(sgid): enable sgid for storage mode on frontend (#4501)
  frontend/src/features/admin-form/settings/components/AuthSettingsSection/constants.ts
Due: none

feat: pass disabled state to input and tags
  frontend/src/components/TagInput/TagInput.stories.tsx
  frontend/src/components/TagInput/TagInput.tsx
  frontend/src/components/TagInput/TagInputTag.tsx
Due: none

feat: add move forms to another workspace functionality
  src/app/models/workspace.server.model.ts
  src/app/modules/workspace/workspace.controller.ts
  src/app/modules/workspace/workspace.service.ts
  src/app/routes/api/v3/admin/workspaces/workspaces.form.routes.ts
  src/app/routes/api/v3/admin/workspaces/workspaces.routes.ts
  src/types/workspace.ts
Due: eslint --fix

feat(TagInput): add default export
  frontend/src/components/TagInput/index.ts
Due: none

feat: add function to determine tag invalidity
  frontend/src/components/TagInput/TagInput.stories.tsx
  frontend/src/components/TagInput/TagInput.tsx
  frontend/src/components/TagInput/TagInputTag.tsx
Due: none

feat: add useFormControl hook to get parent form control props
  frontend/src/components/TagInput/TagInput.tsx
Due: none

feat: correctly trigger onBlur and onClick props passed into component
  frontend/src/components/TagInput/TagInput.tsx
  frontend/src/components/TagInput/TagInputInput.tsx
Due: none
